/*
ConfigCat Public Management API

The purpose of this API is to access the ConfigCat platform programmatically. You can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat.  **Base API URL**: https://api.configcat.com  If you prefer the swagger documentation, you can find it here: [Swagger UI](https://api.configcat.com/swagger).  The API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON  format.   **Important:** Do not use this API for accessing and evaluating feature flag values. Use the [SDKs](https://configcat.com/docs/sdk-reference/overview) or the [ConfigCat Proxy](https://configcat.com/docs/advanced/proxy/proxy-overview/) instead.  # OpenAPI Specification  The complete specification is publicly available in the following formats:  - [OpenAPI v3](https://api.configcat.com/docs/v1/swagger.json) - [Swagger v2](https://api.configcat.com/docs/v1/swagger.v2.json)  You can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or [Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.  # Authentication This API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication).   <!-- ReDoc-Inject: <security-definitions> -->  # Throttling and rate limits All the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:  | Header | Description | | :- | :- | | X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. | | X-Rate-Limit-Reset     | The time when the current rate limit period resets.        |  When the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header. 

API version: v1
Contact: support@configcat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package configcatpublicapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProxyProfilesAPIService ProxyProfilesAPI service
type ProxyProfilesAPIService service

type ProxyProfilesAPICreateProxyProfileRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	organizationId string
	createOrUpdateProxyProfileRequest *CreateOrUpdateProxyProfileRequest
}

func (r ProxyProfilesAPICreateProxyProfileRequest) CreateOrUpdateProxyProfileRequest(createOrUpdateProxyProfileRequest CreateOrUpdateProxyProfileRequest) ProxyProfilesAPICreateProxyProfileRequest {
	r.createOrUpdateProxyProfileRequest = &createOrUpdateProxyProfileRequest
	return r
}

func (r ProxyProfilesAPICreateProxyProfileRequest) Execute() (*ProxyProfileModel, *http.Response, error) {
	return r.ApiService.CreateProxyProfileExecute(r)
}

/*
CreateProxyProfile Create Proxy Profile

This endpoint creates a new Proxy Profile in the given Organization
identified by the `organizationId` parameter, which can be obtained from the [List Organizations](#operation/get-organizations) endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId The identifier of the Organization.
 @return ProxyProfilesAPICreateProxyProfileRequest
*/
func (a *ProxyProfilesAPIService) CreateProxyProfile(ctx context.Context, organizationId string) ProxyProfilesAPICreateProxyProfileRequest {
	return ProxyProfilesAPICreateProxyProfileRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return ProxyProfileModel
func (a *ProxyProfilesAPIService) CreateProxyProfileExecute(r ProxyProfilesAPICreateProxyProfileRequest) (*ProxyProfileModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.CreateProxyProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/{organizationId}/proxy-profiles"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOrUpdateProxyProfileRequest == nil {
		return localVarReturnValue, nil, reportError("createOrUpdateProxyProfileRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrUpdateProxyProfileRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIDeleteProxyProfileRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
}

func (r ProxyProfilesAPIDeleteProxyProfileRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteProxyProfileExecute(r)
}

/*
DeleteProxyProfile Delete Proxy Profile

This endpoint removes a Proxy Profile identified by the `proxyProfileId` parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIDeleteProxyProfileRequest
*/
func (a *ProxyProfilesAPIService) DeleteProxyProfile(ctx context.Context, proxyProfileId string) ProxyProfilesAPIDeleteProxyProfileRequest {
	return ProxyProfilesAPIDeleteProxyProfileRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
func (a *ProxyProfilesAPIService) DeleteProxyProfileExecute(r ProxyProfilesAPIDeleteProxyProfileRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.DeleteProxyProfile")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
	proxyProfileSdkKeysRequest *ProxyProfileSdkKeysRequest
}

func (r ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest) ProxyProfileSdkKeysRequest(proxyProfileSdkKeysRequest ProxyProfileSdkKeysRequest) ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest {
	r.proxyProfileSdkKeysRequest = &proxyProfileSdkKeysRequest
	return r
}

func (r ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest) Execute() (*ProxyProfileSdkKeysListModel, *http.Response, error) {
	return r.ApiService.DeselectProxyProfileSdkKeysExecute(r)
}

/*
DeselectProxyProfileSdkKeys Deselect SDK keys

This endpoint removes the given list of Config / Environment pairs' SDK Keys from a Proxy Profile
identified by the `proxyProfileId`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest
*/
func (a *ProxyProfilesAPIService) DeselectProxyProfileSdkKeys(ctx context.Context, proxyProfileId string) ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest {
	return ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileSdkKeysListModel
func (a *ProxyProfilesAPIService) DeselectProxyProfileSdkKeysExecute(r ProxyProfilesAPIDeselectProxyProfileSdkKeysRequest) (*ProxyProfileSdkKeysListModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileSdkKeysListModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.DeselectProxyProfileSdkKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}/sdk-keys/deselect"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.proxyProfileSdkKeysRequest == nil {
		return localVarReturnValue, nil, reportError("proxyProfileSdkKeysRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.proxyProfileSdkKeysRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIGenerateProxyProfileSecretRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
}

func (r ProxyProfilesAPIGenerateProxyProfileSecretRequest) Execute() (*ProxyProfileSecretModel, *http.Response, error) {
	return r.ApiService.GenerateProxyProfileSecretExecute(r)
}

/*
GenerateProxyProfileSecret Generate Secret

This endpoint (re)generates a secret token for a Proxy Profile identified by the `proxyProfileId` parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIGenerateProxyProfileSecretRequest
*/
func (a *ProxyProfilesAPIService) GenerateProxyProfileSecret(ctx context.Context, proxyProfileId string) ProxyProfilesAPIGenerateProxyProfileSecretRequest {
	return ProxyProfilesAPIGenerateProxyProfileSecretRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileSecretModel
func (a *ProxyProfilesAPIService) GenerateProxyProfileSecretExecute(r ProxyProfilesAPIGenerateProxyProfileSecretRequest) (*ProxyProfileSecretModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileSecretModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.GenerateProxyProfileSecret")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}/secret"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIGetProxyProfileRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
}

func (r ProxyProfilesAPIGetProxyProfileRequest) Execute() (*ProxyProfileModel, *http.Response, error) {
	return r.ApiService.GetProxyProfileExecute(r)
}

/*
GetProxyProfile Get Proxy Profile

This endpoint returns a Proxy Profile 
identified by the `proxyProfileId`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIGetProxyProfileRequest
*/
func (a *ProxyProfilesAPIService) GetProxyProfile(ctx context.Context, proxyProfileId string) ProxyProfilesAPIGetProxyProfileRequest {
	return ProxyProfilesAPIGetProxyProfileRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileModel
func (a *ProxyProfilesAPIService) GetProxyProfileExecute(r ProxyProfilesAPIGetProxyProfileRequest) (*ProxyProfileModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.GetProxyProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIGetProxyProfileSdkKeysRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
}

func (r ProxyProfilesAPIGetProxyProfileSdkKeysRequest) Execute() (*ProxyProfileSdkKeysListModel, *http.Response, error) {
	return r.ApiService.GetProxyProfileSdkKeysExecute(r)
}

/*
GetProxyProfileSdkKeys Get selected SDK keys

This endpoint returns the list of SDK keys selected for a Proxy Profile 
identified by the `proxyProfileId`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIGetProxyProfileSdkKeysRequest
*/
func (a *ProxyProfilesAPIService) GetProxyProfileSdkKeys(ctx context.Context, proxyProfileId string) ProxyProfilesAPIGetProxyProfileSdkKeysRequest {
	return ProxyProfilesAPIGetProxyProfileSdkKeysRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileSdkKeysListModel
func (a *ProxyProfilesAPIService) GetProxyProfileSdkKeysExecute(r ProxyProfilesAPIGetProxyProfileSdkKeysRequest) (*ProxyProfileSdkKeysListModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileSdkKeysListModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.GetProxyProfileSdkKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}/sdk-keys"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIGetProxyProfilesRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	organizationId string
}

func (r ProxyProfilesAPIGetProxyProfilesRequest) Execute() (*ProxyProfileListModel, *http.Response, error) {
	return r.ApiService.GetProxyProfilesExecute(r)
}

/*
GetProxyProfiles List Proxy Profiles

This endpoint returns the list of Proxy profiles for the given Organization identified by the `organizationId` parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId The identifier of the Organization.
 @return ProxyProfilesAPIGetProxyProfilesRequest
*/
func (a *ProxyProfilesAPIService) GetProxyProfiles(ctx context.Context, organizationId string) ProxyProfilesAPIGetProxyProfilesRequest {
	return ProxyProfilesAPIGetProxyProfilesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return ProxyProfileListModel
func (a *ProxyProfilesAPIService) GetProxyProfilesExecute(r ProxyProfilesAPIGetProxyProfilesRequest) (*ProxyProfileListModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileListModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.GetProxyProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/{organizationId}/proxy-profiles"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIReplaceProxyProfileRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
	createOrUpdateProxyProfileRequest *CreateOrUpdateProxyProfileRequest
}

func (r ProxyProfilesAPIReplaceProxyProfileRequest) CreateOrUpdateProxyProfileRequest(createOrUpdateProxyProfileRequest CreateOrUpdateProxyProfileRequest) ProxyProfilesAPIReplaceProxyProfileRequest {
	r.createOrUpdateProxyProfileRequest = &createOrUpdateProxyProfileRequest
	return r
}

func (r ProxyProfilesAPIReplaceProxyProfileRequest) Execute() (*ProxyProfileModel, *http.Response, error) {
	return r.ApiService.ReplaceProxyProfileExecute(r)
}

/*
ReplaceProxyProfile Replace Proxy Profile

This endpoint replaces a Proxy Profile identified by the `proxyProfileId` parameter.

**Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't
want to change in its original state. Not listing one means it will reset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIReplaceProxyProfileRequest
*/
func (a *ProxyProfilesAPIService) ReplaceProxyProfile(ctx context.Context, proxyProfileId string) ProxyProfilesAPIReplaceProxyProfileRequest {
	return ProxyProfilesAPIReplaceProxyProfileRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileModel
func (a *ProxyProfilesAPIService) ReplaceProxyProfileExecute(r ProxyProfilesAPIReplaceProxyProfileRequest) (*ProxyProfileModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.ReplaceProxyProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOrUpdateProxyProfileRequest == nil {
		return localVarReturnValue, nil, reportError("createOrUpdateProxyProfileRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrUpdateProxyProfileRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPISelectProxyProfileSdkKeysRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
	proxyProfileSdkKeysRequest *ProxyProfileSdkKeysRequest
}

func (r ProxyProfilesAPISelectProxyProfileSdkKeysRequest) ProxyProfileSdkKeysRequest(proxyProfileSdkKeysRequest ProxyProfileSdkKeysRequest) ProxyProfilesAPISelectProxyProfileSdkKeysRequest {
	r.proxyProfileSdkKeysRequest = &proxyProfileSdkKeysRequest
	return r
}

func (r ProxyProfilesAPISelectProxyProfileSdkKeysRequest) Execute() (*ProxyProfileSdkKeysListModel, *http.Response, error) {
	return r.ApiService.SelectProxyProfileSdkKeysExecute(r)
}

/*
SelectProxyProfileSdkKeys Select SDK keys

This endpoint adds the given list of Config / Environment pairs' SDK Keys to a Proxy Profile 
identified by the `proxyProfileId`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPISelectProxyProfileSdkKeysRequest
*/
func (a *ProxyProfilesAPIService) SelectProxyProfileSdkKeys(ctx context.Context, proxyProfileId string) ProxyProfilesAPISelectProxyProfileSdkKeysRequest {
	return ProxyProfilesAPISelectProxyProfileSdkKeysRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileSdkKeysListModel
func (a *ProxyProfilesAPIService) SelectProxyProfileSdkKeysExecute(r ProxyProfilesAPISelectProxyProfileSdkKeysRequest) (*ProxyProfileSdkKeysListModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileSdkKeysListModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.SelectProxyProfileSdkKeys")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}/sdk-keys/select"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.proxyProfileSdkKeysRequest == nil {
		return localVarReturnValue, nil, reportError("proxyProfileSdkKeysRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.proxyProfileSdkKeysRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProxyProfilesAPIUpdateProxyProfileRequest struct {
	ctx context.Context
	ApiService *ProxyProfilesAPIService
	proxyProfileId string
	jsonPatchOperation *[]JsonPatchOperation
}

func (r ProxyProfilesAPIUpdateProxyProfileRequest) JsonPatchOperation(jsonPatchOperation []JsonPatchOperation) ProxyProfilesAPIUpdateProxyProfileRequest {
	r.jsonPatchOperation = &jsonPatchOperation
	return r
}

func (r ProxyProfilesAPIUpdateProxyProfileRequest) Execute() (*ProxyProfileModel, *http.Response, error) {
	return r.ApiService.UpdateProxyProfileExecute(r)
}

/*
UpdateProxyProfile Update Proxy Profile

This endpoint updates a Proxy Profile identified by the `proxyProfileId` parameter with a collection of [JSON Patch](https://jsonpatch.com) operations.

The advantage of using JSON Patch is that you can describe individual update operations on a resource without touching attributes that you don't want to change.

For example: We have the following resource.
```json
{
  "proxyProfileId": "4ebe288d-6415-44a8-85c8-7b9f78316a86",
  "name": "production",
  "description": "profile for production environments",
  "lastAccessedAt": "2019-08-24T14:15:22Z",
  "connectionPreferences": {
    "sdkPollInterval": 60,
    "webhookNotification": null
  },
  "sdkKeySelectionRules": []
}
```
If we send an update request body as below (it changes the `sdkPollInterval` field and adds a new Proxy Webhook URL):
```json
[
  {
    "op": "replace", 
    "path": "/connectionPreferences/sdkPollInterval", 
    "value": 120
  }, 
  {
    "op": "add",
    "path": "/connectionPreferences/webhookNotification",
    "value": {
      "webhookProxyUrl": "https://my-proxy-url.com"
    }
  }
]
```
Only the `sdkPollInterval` and `webhookProxyUrl` are updated and all the other attributes remain unchanged.
So we get a response like this:
```json
{
  "proxyProfileId": "4ebe288d-6415-44a8-85c8-7b9f78316a86",
  "name": "production",
  "description": "profile for production environments",
  "lastAccessedAt": "2019-08-24T14:15:22Z",
  "connectionPreferences": {
    "sdkPollInterval": 120,
    "webhookNotification": {
      "webhookProxyUrl": "https://my-proxy-url.com",
      "signingKey1": "<generated-signing-key>",
      "signingKey2": null
    }
  },
  "sdkKeySelectionRules": []
}
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param proxyProfileId The identifier of the Proxy Profile.
 @return ProxyProfilesAPIUpdateProxyProfileRequest
*/
func (a *ProxyProfilesAPIService) UpdateProxyProfile(ctx context.Context, proxyProfileId string) ProxyProfilesAPIUpdateProxyProfileRequest {
	return ProxyProfilesAPIUpdateProxyProfileRequest{
		ApiService: a,
		ctx: ctx,
		proxyProfileId: proxyProfileId,
	}
}

// Execute executes the request
//  @return ProxyProfileModel
func (a *ProxyProfilesAPIService) UpdateProxyProfileExecute(r ProxyProfilesAPIUpdateProxyProfileRequest) (*ProxyProfileModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProxyProfileModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProxyProfilesAPIService.UpdateProxyProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/proxy-profiles/{proxyProfileId}"
	localVarPath = strings.Replace(localVarPath, "{"+"proxyProfileId"+"}", url.PathEscape(parameterValueToString(r.proxyProfileId, "proxyProfileId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jsonPatchOperation == nil {
		return localVarReturnValue, nil, reportError("jsonPatchOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jsonPatchOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
