/*
ConfigCat Public Management API

The purpose of this API is to access the ConfigCat platform programmatically. You can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat.  **Base API URL**: https://api.configcat.com  If you prefer the swagger documentation, you can find it here: [Swagger UI](https://api.configcat.com/swagger).  The API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON  format.   **Important:** Do not use this API for accessing and evaluating feature flag values. Use the [SDKs](https://configcat.com/docs/sdk-reference/overview) or the [ConfigCat Proxy](https://configcat.com/docs/advanced/proxy/proxy-overview/) instead.  # OpenAPI Specification  The complete specification is publicly available in the following formats:  - [OpenAPI v3](https://api.configcat.com/docs/v1/swagger.json) - [Swagger v2](https://api.configcat.com/docs/v1/swagger.v2.json)  You can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or [Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.  # Authentication This API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication).   <!-- ReDoc-Inject: <security-definitions> -->  # Throttling and rate limits All the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:  | Header | Description | | :- | :- | | X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. | | X-Rate-Limit-Reset     | The time when the current rate limit period resets.        |  When the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header. 

API version: v1
Contact: support@configcat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package configcatpublicapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ChangeRequestsApprovalFlowScheduledChangesBetaAPIService ChangeRequestsApprovalFlowScheduledChangesBetaAPI service
type ChangeRequestsApprovalFlowScheduledChangesBetaAPIService service

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
	addChangeRequestCommentModel *AddChangeRequestCommentModel
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest) AddChangeRequestCommentModel(addChangeRequestCommentModel AddChangeRequestCommentModel) ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest {
	r.addChangeRequestCommentModel = &addChangeRequestCommentModel
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest) Execute() (*ChangeRequestCommentModel, *http.Response, error) {
	return r.ApiService.AddChangeRequestCommentExecute(r)
}

/*
AddChangeRequestComment Add Comment

Adds a new comment to the Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) AddChangeRequestComment(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestCommentModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) AddChangeRequestCommentExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIAddChangeRequestCommentRequest) (*ChangeRequestCommentModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestCommentModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.AddChangeRequestComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addChangeRequestCommentModel == nil {
		return localVarReturnValue, nil, reportError("addChangeRequestCommentModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addChangeRequestCommentModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIApplyChangeRequestRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIApplyChangeRequestRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.ApplyChangeRequestExecute(r)
}

/*
ApplyChangeRequest Apply Change Request

Applies the Change Request. The proposed changes will be applied and published immediately.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIApplyChangeRequestRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ApplyChangeRequest(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIApplyChangeRequestRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIApplyChangeRequestRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ApplyChangeRequestExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIApplyChangeRequestRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.ApplyChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/apply"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIApproveChangeRequestRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIApproveChangeRequestRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.ApproveChangeRequestExecute(r)
}

/*
ApproveChangeRequest Approve Change Request

Adds your approval to the Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIApproveChangeRequestRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ApproveChangeRequest(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIApproveChangeRequestRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIApproveChangeRequestRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ApproveChangeRequestExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIApproveChangeRequestRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.ApproveChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/approve"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIClaimChangeRequestOwnershipRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIClaimChangeRequestOwnershipRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.ClaimChangeRequestOwnershipExecute(r)
}

/*
ClaimChangeRequestOwnership Claim Ownership

Claims ownership of the Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIClaimChangeRequestOwnershipRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ClaimChangeRequestOwnership(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIClaimChangeRequestOwnershipRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIClaimChangeRequestOwnershipRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ClaimChangeRequestOwnershipExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIClaimChangeRequestOwnershipRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.ClaimChangeRequestOwnership")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/claim-ownership"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPICloseChangeRequestRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPICloseChangeRequestRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.CloseChangeRequestExecute(r)
}

/*
CloseChangeRequest Close Change Request

Closes the Change Request without applying it.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPICloseChangeRequestRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) CloseChangeRequest(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPICloseChangeRequestRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPICloseChangeRequestRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) CloseChangeRequestExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPICloseChangeRequestRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.CloseChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/close"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	configId string
	environmentId string
	createChangeRequestModel *CreateChangeRequestModel
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest) CreateChangeRequestModel(createChangeRequestModel CreateChangeRequestModel) ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest {
	r.createChangeRequestModel = &createChangeRequestModel
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.CreateChangeRequestExecute(r)
}

/*
CreateChangeRequest Create Change Request

Creates a new Change Request for the specified Config and Environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param configId The identifier of the Config.
 @param environmentId The identifier of the Environment.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) CreateChangeRequest(ctx context.Context, configId string, environmentId string) ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest{
		ApiService: a,
		ctx: ctx,
		configId: configId,
		environmentId: environmentId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) CreateChangeRequestExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPICreateChangeRequestRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.CreateChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/configs/{configId}/environments/{environmentId}/change-requests"
	localVarPath = strings.Replace(localVarPath, "{"+"configId"+"}", url.PathEscape(parameterValueToString(r.configId, "configId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environmentId"+"}", url.PathEscape(parameterValueToString(r.environmentId, "environmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createChangeRequestModel == nil {
		return localVarReturnValue, nil, reportError("createChangeRequestModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createChangeRequestModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestCommentRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	commentId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestCommentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteChangeRequestCommentExecute(r)
}

/*
DeleteChangeRequestComment Delete Comment

Deletes a Change Request comment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param commentId The identifier of the Change Request comment.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestCommentRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) DeleteChangeRequestComment(ctx context.Context, commentId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestCommentRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestCommentRequest{
		ApiService: a,
		ctx: ctx,
		commentId: commentId,
	}
}

// Execute executes the request
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) DeleteChangeRequestCommentExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestCommentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.DeleteChangeRequestComment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-request-comments/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestProposedChangeRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
	settingId int32
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestProposedChangeRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.DeleteChangeRequestProposedChangeExecute(r)
}

/*
DeleteChangeRequestProposedChange Delete Setting from Change Request

Removes a setting from a Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @param settingId The identifier of the Setting.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestProposedChangeRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) DeleteChangeRequestProposedChange(ctx context.Context, changeRequestId int64, settingId int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestProposedChangeRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestProposedChangeRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
		settingId: settingId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) DeleteChangeRequestProposedChangeExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIDeleteChangeRequestProposedChangeRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.DeleteChangeRequestProposedChange")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/proposed-changes/{settingId}"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"settingId"+"}", url.PathEscape(parameterValueToString(r.settingId, "settingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.GetChangeRequestExecute(r)
}

/*
GetChangeRequest Get Change Request

Returns the details of a specific Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) GetChangeRequest(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) GetChangeRequestExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.GetChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
	settingId *int32
}

// The optional identifier of the Setting.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest) SettingId(settingId int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest {
	r.settingId = &settingId
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest) Execute() (*ChangeRequestProposedChangesModel, *http.Response, error) {
	return r.ApiService.GetChangeRequestProposedChangesExecute(r)
}

/*
GetChangeRequestProposedChanges Get Settings included in Change Request

Returns the proposed changes to the Settings included in a Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) GetChangeRequestProposedChanges(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestProposedChangesModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) GetChangeRequestProposedChangesExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestProposedChangesRequest) (*ChangeRequestProposedChangesModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestProposedChangesModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.GetChangeRequestProposedChanges")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/proposed-changes"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.settingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "settingId", r.settingId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	productId string
	configId *string
	environmentId *string
	settingId *int32
	changeRequestStatusFilter *[]ChangeRequestStatus
	scheduleFilter *ChangeRequestScheduleFilter
	approveRequiredFilter *ChangeRequestApproveRequiredFilter
	needsAttentionFilter *NeedsAttentionFilter
	pageNumber *int32
	pageSize *int32
}

// Filter Change Requests by Config identifier.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) ConfigId(configId string) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.configId = &configId
	return r
}

// Filter Change Requests by Environment identifier.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) EnvironmentId(environmentId string) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.environmentId = &environmentId
	return r
}

// Filter Change Requests by Setting identifier.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) SettingId(settingId int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.settingId = &settingId
	return r
}

// Filter Change Requests by status values.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) ChangeRequestStatusFilter(changeRequestStatusFilter []ChangeRequestStatus) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.changeRequestStatusFilter = &changeRequestStatusFilter
	return r
}

// Filter Change Requests by schedule state.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) ScheduleFilter(scheduleFilter ChangeRequestScheduleFilter) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.scheduleFilter = &scheduleFilter
	return r
}

// Filter Change Requests by approval requirement.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) ApproveRequiredFilter(approveRequiredFilter ChangeRequestApproveRequiredFilter) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.approveRequiredFilter = &approveRequiredFilter
	return r
}

// Filter Change Requests by whether they need attention.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) NeedsAttentionFilter(needsAttentionFilter NeedsAttentionFilter) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.needsAttentionFilter = &needsAttentionFilter
	return r
}

// Page number (min: 1).
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) PageNumber(pageNumber int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.pageNumber = &pageNumber
	return r
}

// Page size (min: 1, max: 100).
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) PageSize(pageSize int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) Execute() (*ChangeRequestsModel, *http.Response, error) {
	return r.ApiService.GetChangeRequestsExecute(r)
}

/*
GetChangeRequests List Change Requests

Returns Change Requests of a Product with optional filtering and pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId The identifier of the Product.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) GetChangeRequests(ctx context.Context, productId string) ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return ChangeRequestsModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) GetChangeRequestsExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIGetChangeRequestsRequest) (*ChangeRequestsModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestsModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.GetChangeRequests")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/products/{productId}/change-requests"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.configId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "configId", r.configId, "form", "")
	}
	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environmentId", r.environmentId, "form", "")
	}
	if r.settingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "settingId", r.settingId, "form", "")
	}
	if r.changeRequestStatusFilter != nil {
		t := *r.changeRequestStatusFilter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "changeRequestStatusFilter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "changeRequestStatusFilter", t, "form", "multi")
		}
	}
	if r.scheduleFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduleFilter", r.scheduleFilter, "form", "")
	}
	if r.approveRequiredFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "approveRequiredFilter", r.approveRequiredFilter, "form", "")
	}
	if r.needsAttentionFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "needsAttentionFilter", r.needsAttentionFilter, "form", "")
	}
	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIRemoveChangeRequestApprovalRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIRemoveChangeRequestApprovalRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.RemoveChangeRequestApprovalExecute(r)
}

/*
RemoveChangeRequestApproval Remove Approval

Removes your existing approval from the Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIRemoveChangeRequestApprovalRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) RemoveChangeRequestApproval(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIRemoveChangeRequestApprovalRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIRemoveChangeRequestApprovalRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) RemoveChangeRequestApprovalExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIRemoveChangeRequestApprovalRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.RemoveChangeRequestApproval")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/remove-approval"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
	settingId int32
	resolveChangeRequestSettingConflictsModel *ResolveChangeRequestSettingConflictsModel
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest) ResolveChangeRequestSettingConflictsModel(resolveChangeRequestSettingConflictsModel ResolveChangeRequestSettingConflictsModel) ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest {
	r.resolveChangeRequestSettingConflictsModel = &resolveChangeRequestSettingConflictsModel
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.ResolveChangeRequestSettingConflictsExecute(r)
}

/*
ResolveChangeRequestSettingConflicts Resolve Setting Conflicts

Updates the proposed changes to a Setting included in the Change Request to resolve conflicts caused by concurrently published changes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @param settingId The identifier of the Setting.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ResolveChangeRequestSettingConflicts(ctx context.Context, changeRequestId int64, settingId int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
		settingId: settingId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) ResolveChangeRequestSettingConflictsExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIResolveChangeRequestSettingConflictsRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.ResolveChangeRequestSettingConflicts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/proposed-changes/{settingId}/resolve-conflicts"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"settingId"+"}", url.PathEscape(parameterValueToString(r.settingId, "settingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resolveChangeRequestSettingConflictsModel == nil {
		return localVarReturnValue, nil, reportError("resolveChangeRequestSettingConflictsModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.resolveChangeRequestSettingConflictsModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
	updateChangeRequestModel *UpdateChangeRequestModel
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest) UpdateChangeRequestModel(updateChangeRequestModel UpdateChangeRequestModel) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest {
	r.updateChangeRequestModel = &updateChangeRequestModel
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.UpdateChangeRequestExecute(r)
}

/*
UpdateChangeRequest Update Change Request

Updates the metadata of a Change Request, such as title, note, schedule, etc.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) UpdateChangeRequest(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) UpdateChangeRequestExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.UpdateChangeRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateChangeRequestModel == nil {
		return localVarReturnValue, nil, reportError("updateChangeRequestModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateChangeRequestModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	commentId int64
	updateChangeRequestCommentModel *UpdateChangeRequestCommentModel
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest) UpdateChangeRequestCommentModel(updateChangeRequestCommentModel UpdateChangeRequestCommentModel) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest {
	r.updateChangeRequestCommentModel = &updateChangeRequestCommentModel
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest) Execute() (*ChangeRequestCommentModel, *http.Response, error) {
	return r.ApiService.UpdateChangeRequestCommentExecute(r)
}

/*
UpdateChangeRequestComment Update Comment

Updates an existing Change Request comment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param commentId The identifier of the Change Request comment.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) UpdateChangeRequestComment(ctx context.Context, commentId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest{
		ApiService: a,
		ctx: ctx,
		commentId: commentId,
	}
}

// Execute executes the request
//  @return ChangeRequestCommentModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) UpdateChangeRequestCommentExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestCommentRequest) (*ChangeRequestCommentModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestCommentModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.UpdateChangeRequestComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-request-comments/{commentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"commentId"+"}", url.PathEscape(parameterValueToString(r.commentId, "commentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateChangeRequestCommentModel == nil {
		return localVarReturnValue, nil, reportError("updateChangeRequestCommentModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateChangeRequestCommentModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest struct {
	ctx context.Context
	ApiService *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService
	changeRequestId int64
	updateChangeRequestProposedChangesModel *UpdateChangeRequestProposedChangesModel
	settingId *int32
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest) UpdateChangeRequestProposedChangesModel(updateChangeRequestProposedChangesModel UpdateChangeRequestProposedChangesModel) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest {
	r.updateChangeRequestProposedChangesModel = &updateChangeRequestProposedChangesModel
	return r
}

// The optional identifier of the Setting.
func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest) SettingId(settingId int32) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest {
	r.settingId = &settingId
	return r
}

func (r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest) Execute() (*ChangeRequestModel, *http.Response, error) {
	return r.ApiService.UpdateChangeRequestProposedChangesExecute(r)
}

/*
UpdateChangeRequestProposedChanges Update Settings included in Change Request

Updates the proposed changes to the Settings included in a Change Request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param changeRequestId The identifier of the Change Request.
 @return ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest
*/
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) UpdateChangeRequestProposedChanges(ctx context.Context, changeRequestId int64) ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest {
	return ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest{
		ApiService: a,
		ctx: ctx,
		changeRequestId: changeRequestId,
	}
}

// Execute executes the request
//  @return ChangeRequestModel
func (a *ChangeRequestsApprovalFlowScheduledChangesBetaAPIService) UpdateChangeRequestProposedChangesExecute(r ChangeRequestsApprovalFlowScheduledChangesBetaAPIUpdateChangeRequestProposedChangesRequest) (*ChangeRequestModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChangeRequestModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChangeRequestsApprovalFlowScheduledChangesBetaAPIService.UpdateChangeRequestProposedChanges")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/change-requests/{changeRequestId}/proposed-changes"
	localVarPath = strings.Replace(localVarPath, "{"+"changeRequestId"+"}", url.PathEscape(parameterValueToString(r.changeRequestId, "changeRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateChangeRequestProposedChangesModel == nil {
		return localVarReturnValue, nil, reportError("updateChangeRequestProposedChangesModel is required and must be specified")
	}

	if r.settingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "settingId", r.settingId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateChangeRequestProposedChangesModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
