/*
ConfigCat Public Management API

The purpose of this API is to access the ConfigCat platform programmatically. You can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat.  **Base API URL**: https://test-api.configcat.com  If you prefer the swagger documentation, you can find it here: [Swagger UI](https://test-api.configcat.com/swagger).  The API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON  format.   **Important:** Do not use this API for accessing and evaluating feature flag values. Use the [SDKs](https://configcat.com/docs/sdk-reference/overview) or the [ConfigCat Proxy](https://configcat.com/docs/advanced/proxy/proxy-overview/) instead.  # OpenAPI Specification  The complete specification is publicly available in the following formats:  - [OpenAPI v3](https://test-api.configcat.com/docs/v1/swagger.json) - [Swagger v2](https://test-api.configcat.com/docs/v1/swagger.v2.json)  You can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or [Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.  # Authentication This API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication).   <!-- ReDoc-Inject: <security-definitions> -->  # Throttling and rate limits All the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:  | Header | Description | | :- | :- | | X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. | | X-Rate-Limit-Reset     | The time when the current rate limit period resets.        |  When the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header. 

API version: v1
Contact: support@configcat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package configcatpublicapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ZombieStaleFlagsAPIService ZombieStaleFlagsAPI service
type ZombieStaleFlagsAPIService service

type ZombieStaleFlagsAPIGetStaleflagsRequest struct {
	ctx context.Context
	ApiService *ZombieStaleFlagsAPIService
	productId string
	scope *StaleFlagReminderScope
	staleFlagAgeDays *int32
	staleFlagStaleInEnvironmentsType *StaleFlagStaleInEnvironmentsType
	ignoredEnvironmentIds *[]string
	ignoredTagIds *[]int64
}

// The scope of the report.
func (r ZombieStaleFlagsAPIGetStaleflagsRequest) Scope(scope StaleFlagReminderScope) ZombieStaleFlagsAPIGetStaleflagsRequest {
	r.scope = &scope
	return r
}

// The inactivity in days after a feature flag should be considered stale.
func (r ZombieStaleFlagsAPIGetStaleflagsRequest) StaleFlagAgeDays(staleFlagAgeDays int32) ZombieStaleFlagsAPIGetStaleflagsRequest {
	r.staleFlagAgeDays = &staleFlagAgeDays
	return r
}

// Consider a feature flag as stale if the feature flag is stale in all/any of the environments.
func (r ZombieStaleFlagsAPIGetStaleflagsRequest) StaleFlagStaleInEnvironmentsType(staleFlagStaleInEnvironmentsType StaleFlagStaleInEnvironmentsType) ZombieStaleFlagsAPIGetStaleflagsRequest {
	r.staleFlagStaleInEnvironmentsType = &staleFlagStaleInEnvironmentsType
	return r
}

// Ignore environment identifiers from the report.
func (r ZombieStaleFlagsAPIGetStaleflagsRequest) IgnoredEnvironmentIds(ignoredEnvironmentIds []string) ZombieStaleFlagsAPIGetStaleflagsRequest {
	r.ignoredEnvironmentIds = &ignoredEnvironmentIds
	return r
}

// Ignore feature flags from the report based on their tag identifiers.
func (r ZombieStaleFlagsAPIGetStaleflagsRequest) IgnoredTagIds(ignoredTagIds []int64) ZombieStaleFlagsAPIGetStaleflagsRequest {
	r.ignoredTagIds = &ignoredTagIds
	return r
}

func (r ZombieStaleFlagsAPIGetStaleflagsRequest) Execute() (*StaleFlagProductModel, *http.Response, error) {
	return r.ApiService.GetStaleflagsExecute(r)
}

/*
GetStaleflags List Zombie (stale) flags for Product

This endpoint returns the list of Zombie (stale) flags for a given Product 
and the result can be optionally filtered by various parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param productId The identifier of the Product.
 @return ZombieStaleFlagsAPIGetStaleflagsRequest
*/
func (a *ZombieStaleFlagsAPIService) GetStaleflags(ctx context.Context, productId string) ZombieStaleFlagsAPIGetStaleflagsRequest {
	return ZombieStaleFlagsAPIGetStaleflagsRequest{
		ApiService: a,
		ctx: ctx,
		productId: productId,
	}
}

// Execute executes the request
//  @return StaleFlagProductModel
func (a *ZombieStaleFlagsAPIService) GetStaleflagsExecute(r ZombieStaleFlagsAPIGetStaleflagsRequest) (*StaleFlagProductModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StaleFlagProductModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ZombieStaleFlagsAPIService.GetStaleflags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/products/{productId}/staleflags"
	localVarPath = strings.Replace(localVarPath, "{"+"productId"+"}", url.PathEscape(parameterValueToString(r.productId, "productId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.staleFlagAgeDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "staleFlagAgeDays", r.staleFlagAgeDays, "form", "")
	}
	if r.staleFlagStaleInEnvironmentsType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "staleFlagStaleInEnvironmentsType", r.staleFlagStaleInEnvironmentsType, "form", "")
	}
	if r.ignoredEnvironmentIds != nil {
		t := *r.ignoredEnvironmentIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ignoredEnvironmentIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ignoredEnvironmentIds", t, "form", "multi")
		}
	}
	if r.ignoredTagIds != nil {
		t := *r.ignoredTagIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ignoredTagIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ignoredTagIds", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
