openapi: 3.0.1
info:
  contact:
    email: support@configcat.com
    name: ConfigCat
    url: https://configcat.com
  description: "The purpose of this API is to access the ConfigCat platform programmatically.\n\
    You can **Create**, **Read**, **Update** and **Delete** any entities like **Feature\
    \ Flags, Configs, Environments** or **Products** within ConfigCat.\n\n**Base API\
    \ URL**: https://api.configcat.com\n\nIf you prefer the swagger documentation,\
    \ you can find it here: [Swagger UI](https://api.configcat.com/swagger).\n\nThe\
    \ API is based on HTTP REST, uses resource-oriented URLs, status codes and supports\
    \ JSON \nformat. \n\n**Important:** Do not use this API for accessing and evaluating\
    \ feature flag values. Use the [SDKs](https://configcat.com/docs/sdk-reference/overview)\
    \ or the [ConfigCat Proxy](https://configcat.com/docs/advanced/proxy/proxy-overview/)\
    \ instead.\n\n# OpenAPI Specification\n\nThe complete specification is publicly\
    \ available in the following formats: \n- [OpenAPI v3](https://api.configcat.com/docs/v1/swagger.json)\n\
    - [Swagger v2](https://api.configcat.com/docs/v1/swagger.v2.json)\n\nYou can use\
    \ it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator)\
    \ or\n[Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact\
    \ with this API.\n\n# Authentication\nThis API uses the [Basic HTTP Authentication\
    \ Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication). \n\n<!--\
    \ ReDoc-Inject: <security-definitions> -->\n\n# Throttling and rate limits\nAll\
    \ the rate limited API calls are returning information about the current rate\
    \ limit period in the following HTTP headers:\n\n| Header | Description |\n| :-\
    \ | :- |\n| X-Rate-Limit-Remaining | The maximum number of requests remaining\
    \ in the current rate limit period. |\n| X-Rate-Limit-Reset     | The time\twhen\
    \ the current rate limit period resets.\t\t\t\t\t\t  |\n\nWhen the rate limit\
    \ is exceeded by a request, the API returns with a `HTTP 429 - Too many requests`\
    \ status along with a `Retry-After` HTTP header.\n"
  termsOfService: https://configcat.com/termsofserviceagreement
  title: ConfigCat Public Management API
  version: v1
  x-logo:
    url: https://api.configcat.com/resources/configcat-logo-horiz.svg
servers:
- url: https://api.configcat.com
security:
- Basic: []
tags:
- description: |-
    <i>These endpoints are exclusive for <a target="_blank" rel="noopener noreferrer" href="https://configcat.com/docs/advanced/config-v2/"><b>Config V2</b></a> Feature Flags.</i>
    <br /><i>They can only be used on a Config that has `evaluationVersion` set to `v2`.</i><br /><br />
    With these endpoints you can control how your existing Feature Flags and Settings should serve their values.
    You can turn Feature Flags on or off, update Setting values and change Targeting Rules.

    These endpoints are determining the Environment and Config by the <a target="_blank" rel="noopener noreferrer" href="https://app.configcat.com/sdkkey">SDK key</a> passed in
    the `X-CONFIGCAT-SDKKEY` request header. To identify the desired Feature Flag or Setting to change,
    you can use either its `settingId` or `key` attribute. You can get those attributes
    from the [Feature Flag & Setting](#tag/Feature-Flags-and-Settings) endpoints.
  name: Feature Flag & Setting values using SDK Key V2
- description: |-
    <i>These endpoints are exclusive for <a target="_blank" rel="noopener noreferrer" href="https://configcat.com/docs/advanced/config-v2/"><b>Config V2</b></a> Feature Flags.</i>
    <br /><i>They can only be used on a Config that has `evaluationVersion` set to `v2`.</i><br /><br />
    With these endpoints you can control how your existing Feature Flags and Settings should serve their values.
    You can turn Feature Flags on or off, update Setting values and change Targeting Rules.

    To determine which Feature Flag or Setting you want to work with you have to pass its `settingId`. It can be
    obtained from the [Feature Flag & Setting](#tag/Feature-Flags-and-Settings) endpoints.

    You also have to specify in which Environment you want to change the served value configuration by its
    `environmentId` which can be obtained from the [List Environments](#operation/get-environments) endpoint.
  name: Feature Flag & Setting values V2
- description: "With these endpoints you can control how your existing Feature Flags\
    \ and Settings should serve their values. \nYou can turn Feature Flags on or off,\
    \ update Setting values and also add, remove or change the order of Percentage\
    \ and Targeting Rules.\n\nThese endpoints are determining the Environment and\
    \ Config by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\"\
    >SDK key</a> passed in\nthe `X-CONFIGCAT-SDKKEY` request header. To identify the\
    \ desired Feature Flag or Setting to change, \nyou can use either its `settingId`\
    \ or `key` attribute. You can get those attributes \nfrom the [Feature Flag &\
    \ Setting](#tag/Feature-Flags-and-Settings) endpoints."
  name: Feature Flag & Setting values using SDK Key
- description: "With these endpoints you can control how your existing Feature Flags\
    \ and Settings should serve their values. \nYou can turn Feature Flags on or off,\
    \ update Setting values and also add, remove or reorder Percentage and Targeting\
    \ Rules.\n\nTo determine which Feature Flag or Setting you want to work with you\
    \ have to pass its `settingId`. It can be\nobtained from the [Feature Flag & Setting](#tag/Feature-Flags-and-Settings)\
    \ endpoints.\n\nYou also have to specify in which Environment you want to change\
    \ the served value configuration by its\n`environmentId` which can be obtained\
    \ from the [List Environments](#operation/get-environments) endpoint."
  name: Feature Flag & Setting values
- description: "With these endpoints you can manage your Feature Flags or Settings\
    \ within a Config. \nHowever you can't use them for manipulating the values of\
    \ your Feature Flags and Settings,\nto do that please visit the [Feature Flag\
    \ & Setting values using SDK Key](#tag/Feature-Flag-and-Setting-values-using-SDK-Key)\n\
    and [Feature Flag & Setting values](#tag/Feature-Flag-and-Setting-values) sections\
    \ of the API.\n\nFor using these endpoints, first you have to select which Config\
    \ you want to work with by its `configId` \nwhich can be obtained from the [List\
    \ Configs](#operation/get-configs) endpoint. \nThen you can use it to create new\
    \ Feature Flags or to get information about existing ones.\n\nThen you can obtain\
    \ the `settingId` or `key` of your desired Feature Flag or Setting \nto use them\
    \ for further operations in this API. \n\n<a href=\"https://configcat.com/docs/main-concepts/#setting\"\
    \ target=\"_blank\" rel=\"noopener noreferrer\">Here</a> you can read more about\
    \ the concept of Settings."
  name: Feature Flags & Settings
- description: |-
    With these endpoints you can get useful information about your Organizations.
    This also can be used to manage your [Products](#tag/Products).

    <a href="https://configcat.com/docs/organization/" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the Organizations.
  name: Organizations
- description: |-
    With these endpoints you can manage your Members.

    <a href="https://configcat.com/docs/advanced/team-management/team-management-basics" target="_blank" rel="noopener noreferrer">Here</a> you can read more about Team Management.
  name: Members
- description: |-
    With these endpoints you can manage your Permission Groups.

    <a href="https://configcat.com/docs/advanced/team-management/team-management-basics" target="_blank" rel="noopener noreferrer">Here</a> you can read more about Permissions.
  name: Permission Groups
- description: |-
    With these endpoints you can manage your Products.
    By gathering the right `productId`, you can also manage [Environments](#tag/Environments), [Configs](#tag/Configs), [Tags](#tag/Tags), [Webhooks](#tag/Webhooks), and [Permission Groups](#tag/Permission-Groups) through the API.

    <a href="https://configcat.com/docs/main-concepts/#product" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the concept of Products.
  name: Products
- description: |-
    With these endpoints you can manage Webhooks.

    <a href="https://configcat.com/docs/advanced/notifications-webhooks" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the concept of Webhooks.
  name: Webhooks
- description: "With these endpoints you can manage your Configs.\nThis also can be\
    \ used to manage [Feature Flags and Settings](#tag/Feature-Flags-and-Settings)\
    \ and their \n[served values](#tag/Feature-Flag-and-Setting-values) through this\
    \ API.\n\n<a href=\"https://configcat.com/docs/main-concepts/#config\" target=\"\
    _blank\" rel=\"noopener noreferrer\">Here</a> you can read more about the concept\
    \ of Configs."
  name: Configs
- description: "With these endpoints you can update existing Environments or add new\
    \ ones into your selected [Product](#tag/Products). \n\n<a href=\"https://configcat.com/docs/main-concepts/#environment\"\
    \ target=\"_blank\" rel=\"noopener noreferrer\">Here</a> you can read more about\
    \ the concept of Environments."
  name: Environments
- description: |-
    With these endpoints you can manage your Segments.
    Segments allow you to group your users based on any of their properties. Define user segments and add them to multiple feature flags.
  name: Segments
- description: With these endpoints you can manage your SDK Keys.
  name: SDK Keys
- description: "With these endpoints you can manage Tags. Tags are stored under a\
    \ Product. You can  and add a Tag to a Feature Flag or Setting using the [Update\
    \ Flag](#operation/update-setting) endpoint."
  name: Tags
- description: |-
    With these endpoints you can manage your Integrations.

    - <a href="https://configcat.com/docs/integrations/datadog/" target="_blank" rel="noopener noreferrer">Datadog</a>
    - <a href="https://configcat.com/docs/integrations/slack/" target="_blank" rel="noopener noreferrer">Slack</a>
    - <a href="https://configcat.com/docs/integrations/amplitude/" target="_blank" rel="noopener noreferrer">Amplitude</a>
    - <a href="https://configcat.com/docs/integrations/mixpanel/" target="_blank" rel="noopener noreferrer">MixPanel</a>
    - <a href="https://configcat.com/docs/integrations/segment/" target="_blank" rel="noopener noreferrer">Segment</a>
    - PubNub (work in progress)
  name: Integrations
- description: With these endpoints you can manage your integration links.
  name: Integration links
- description: Access audit log entries.
  name: Audit logs
- description: Information about the current user.
  name: Me
- description: |-
    With this endpoint you can upload Feature Flag and Setting usage references that will be shown on the ConfigCat Dashboard.

    <a href="https://configcat.com/docs/advanced/code-references/overview/" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the concept of Code References.
  name: Code References
paths:
  /v1/organizations:
    get:
      description: This endpoint returns the list of the Organizations that belongs
        to the user.
      operationId: get-organizations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationModel'
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Organizations
      tags:
      - Organizations
  /v1/products:
    get:
      description: This endpoint returns the list of the Products that belongs to
        the user.
      operationId: get-products
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProductModel'
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Products
      tags:
      - Products
  /v1/products/{productId}/tags:
    get:
      description: "This endpoint returns the list of the Tags in a \nspecified Product,\
        \ identified by the `productId` parameter."
      operationId: get-tags
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TagModel'
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Tags
      tags:
      - Tags
    post:
      description: "This endpoint creates a new Tag in a specified Product \nidentified\
        \ by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products)\
        \ endpoint."
      operationId: create-tag
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateTagModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateTagModel'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Tag
      tags:
      - Tags
  /v1/products/{productId}/webhooks:
    get:
      description: |-
        This endpoint returns the list of the Webhooks that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-webhooks
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebhookModel'
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Webhooks
      tags:
      - Webhooks
  /v1/products/{productId}/configs:
    get:
      description: |-
        This endpoint returns the list of the Configs that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-configs
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ConfigModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Configs
      tags:
      - Configs
    post:
      description: "This endpoint creates a new Config in a specified Product \nidentified\
        \ by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products)\
        \ endpoint."
      operationId: create-config
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateConfigRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateConfigRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Config
      tags:
      - Configs
  /v1/products/{productId}/environments:
    get:
      description: |-
        This endpoint returns the list of the Environments that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-environments
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EnvironmentModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Environments
      tags:
      - Environments
    post:
      description: "This endpoint creates a new Environment in a specified Product\
        \ \nidentified by the `productId` parameter, which can be obtained from the\
        \ [List Products](#operation/get-products) endpoint."
      operationId: create-environment
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateEnvironmentModel'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Environment
      tags:
      - Environments
  /v1/products/{productId}/permissions:
    get:
      description: |-
        This endpoint returns the list of the Permission Groups that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-permission-groups
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PermissionGroupModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Permission Groups
      tags:
      - Permission Groups
    post:
      description: "This endpoint creates a new Permission Group in a specified Product\
        \ \nidentified by the `productId` parameter, which can be obtained from the\
        \ [List Products](#operation/get-products) endpoint."
      operationId: create-permission-group
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePermissionGroupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreatePermissionGroupRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreatePermissionGroupRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroupModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Permission Group
      tags:
      - Permission Groups
  /v1/products/{productId}/integrations:
    get:
      description: |-
        This endpoint returns the list of the Integrations that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-integrations
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Integrations
      tags:
      - Integrations
    post:
      description: "This endpoint creates a new Integration in a specified Product\
        \ \nidentified by the `productId` parameter, which can be obtained from the\
        \ [List Products](#operation/get-products) endpoint.\n\nThe Parameters dictionary\
        \ differs for each IntegrationType:\n- Datadog\n\t- `apikey`: Required. Datadog\
        \ API key.\n\t- `site`: Datadog site. Available values: `Us`, `Eu`, `Us1Fed`,\
        \ `Us3`, `Us5`. Default: `Us`.\n- Slack  \n\tConnecting the Slack integration\
        \ through the Public Management API will not post messages with the ConfigCat\
        \ Feature Flags Slack app but with an incoming webhook.\n\t- `incoming_webhook.url`:\
        \ Required. The [incoming webhook URL](https://api.slack.com/messaging/webhooks)\
        \ where the integration should post messages.\n- Amplitude\n\t- `apiKey`:\
        \ Required. Amplitude API Key.\n\t- `secretKey`: Required. Amplitude Secret\
        \ Key.\n- Mixpanel\n\t- `serviceAccountUserName`: Required. Mixpanel Service\
        \ Account Username.\n\t- `serviceAccountSecret`: Required. Mixpanel Service\
        \ Account Secret.\n\t- `projectId`: Required. Mixpanel Project ID.\n\t- `server`:\
        \ Mixpanel Server. Available values: `StandardServer`, `EUResidencyServer`.\
        \ Default: `StandardServer`.\n- Twilio Segment\n\t- `writeKey`: Required.\
        \ Twilio Segment Write Key.\n\t- `server`: Twilio Segment Server. Available\
        \ values: `Us`, `Eu`. Default: `Us`.\n- PubNub (work in progress)"
      operationId: create-integration
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationModel'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Integration
      tags:
      - Integrations
  /v1/products/{productId}/segments:
    get:
      description: |-
        This endpoint returns the list of the Segments that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-segments
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SegmentListModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Segments
      tags:
      - Segments
    post:
      description: "This endpoint creates a new Segment in a specified Product \n\
        identified by the `productId` parameter, which can be obtained from the [List\
        \ Products](#operation/get-products) endpoint."
      operationId: create-segment
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSegmentModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateSegmentModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateSegmentModel'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Segment
      tags:
      - Segments
  /v1/configs/{configId}/settings:
    get:
      description: "This endpoint returns the list of the Feature Flags and Settings\
        \ defined in a \nspecified Config, identified by the `configId` parameter."
      operationId: get-settings
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SettingModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Flags
      tags:
      - Feature Flags & Settings
    post:
      description: |-
        This endpoint creates a new Feature Flag or Setting in a specified Config
        identified by the `configId` parameter.

        **Important:** The `key` attribute must be unique within the given Config.
      operationId: create-setting
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSettingInitialValues'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateSettingInitialValues'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateSettingInitialValues'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingModel'
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Flag
      tags:
      - Feature Flags & Settings
  /v1/products/{productId}/auditlogs:
    get:
      description: "This endpoint returns the list of Audit log items for a given\
        \ Product \nand the result can be optionally filtered by Config and/or Environment."
      operationId: get-auditlogs
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Config.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Environment.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Audit logs by Audit log type.
        explode: true
        in: query
        name: auditLogType
        required: false
        schema:
          enum:
          - productCreated
          - productChanged
          - productOwnershipTransferred
          - productDeleted
          - productsReordered
          - teamMemberInvited
          - teamMemberInvitationRevoked
          - teamMemberJoined
          - teamMemberPermissionGroupChanged
          - teamMemberRemoved
          - teamMemberLeft
          - teamMemberInvitationChanged
          - teamMemberInvitationResent
          - teamMemberInvitationRejected
          - configCreated
          - configChanged
          - configDeleted
          - configsReordered
          - environmentCreated
          - environmentChanged
          - environmentDeleted
          - environmentsReordered
          - settingCreated
          - settingChanged
          - settingDeleted
          - settingsReordered
          - settingValueChanged
          - webHookCreated
          - webHookChanged
          - webHookDeleted
          - permissionGroupCreated
          - permissionGroupChanged
          - permissionGroupDeleted
          - permissionGroupDefault
          - apiKeyAdded
          - apiKeyRemoved
          - integrationAdded
          - integrationChanged
          - integrationRemoved
          - apiKeyConnected
          - integrationLinkAdded
          - integrationLinkRemoved
          - organizationAdded
          - organizationRemoved
          - organizationChanged
          - organizationSubscriptionTypeChanged
          - organizationAdminChanged
          - organizationAdminLeft
          - organizationAdminDisabled2FA
          - tagAdded
          - tagChanged
          - tagRemoved
          - settingTagAdded
          - settingTagRemoved
          - publicApiAccessTokenAdded
          - publicApiAccessTokenRemoved
          - domainAdded
          - domainVerified
          - domainRemoved
          - domainSamlConfigured
          - domainSamlDeleted
          - autoProvisioningConfigurationChanged
          - samlIdpConfigurationAdded
          - samlIdpConfigurationRemoved
          - samlIdpConfigurationUpdated
          - organizationMemberJoined
          - organizationMemberProductJoinRequested
          - organizationMemberProductJoinRequestRejected
          - organizationMemberProductJoinRequestApproved
          - codeReferencesUploaded
          - codeReferenceDeleted
          - codeReferenceStaleBranchDeleted
          - segmentCreated
          - segmentChanged
          - segmentDeleted
          - webhookSigningKeyDeleted
          - webhookSigningKeyCreated
          type: string
        style: form
      - description: Filter Audit logs by starting UTC date.
        explode: true
        in: query
        name: fromUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter Audit logs by ending UTC date.
        explode: true
        in: query
        name: toUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuditLogItemModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Audit log items for Product
      tags:
      - Audit logs
  /v1/settings/{settingId}/code-references:
    get:
      description: ""
      parameters:
      - description: The identifier of the Feature Flag or Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CodeReferenceModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get References for Feature Flag or Setting
      tags:
      - Code References
  /v1/configs/{configId}:
    delete:
      description: This endpoint removes a Config identified by the `configId` parameter.
      operationId: delete-config
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Config
      tags:
      - Configs
    get:
      description: |-
        This endpoint returns the metadata of a Config
        identified by the `configId`.
      operationId: get-config
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigModel'
          description: "When everything is ok, the config data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Config
      tags:
      - Configs
    put:
      description: This endpoint updates a Config identified by the `configId` parameter.
      operationId: update-config
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Config
      tags:
      - Configs
  /v1/configs/{configId}/deleted-settings:
    get:
      description: This endpoint returns the list of Feature Flags and Settings that
        were deleted from the given Config.
      operationId: get-deleted-settings
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SettingModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Deleted Settings
      tags:
      - Audit logs
  /v1/environments/{environmentId}:
    delete:
      description: |-
        This endpoint removes an Environment identified by the `environmentId` parameter.
        If the `cleanupAuditLogs` flag is set to true, it also deletes the audit log records related to the environment
        (except for the `Created a new environment` and `Deleted an environment` records).
      operationId: delete-environment
      parameters:
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: An optional flag which indicates whether the audit log records
          related to the environment should be deleted or not.
        explode: true
        in: query
        name: cleanupAuditLogs
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Environment
      tags:
      - Environments
    get:
      description: "This endpoint returns the metadata of an Environment \nidentified\
        \ by the `environmentId`."
      operationId: get-environment
      parameters:
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentModel'
          description: "When everything is ok, the environment data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Environment
      tags:
      - Environments
    put:
      description: This endpoint updates an Environment identified by the `environmentId`
        parameter.
      operationId: update-environment
      parameters:
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironmentModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Environment
      tags:
      - Environments
  /v1/permissions/{permissionGroupId}:
    delete:
      description: This endpoint removes a Permission Group identified by the `permissionGroupId`
        parameter.
      operationId: delete-permission-group
      parameters:
      - description: The identifier of the Permission Group.
        explode: false
        in: path
        name: permissionGroupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Permission Group
      tags:
      - Permission Groups
    get:
      description: "This endpoint returns the metadata of a Permission Group \nidentified\
        \ by the `permissionGroupId`."
      operationId: get-permission-group
      parameters:
      - description: The identifier of the Permission Group.
        explode: false
        in: path
        name: permissionGroupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroupModel'
          description: "When everything is ok, the permission group data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Permission Group
      tags:
      - Permission Groups
    put:
      description: This endpoint updates a Permission Group identified by the `permissionGroupId`
        parameter.
      operationId: update-permission-group
      parameters:
      - description: The identifier of the Permission Group.
        explode: false
        in: path
        name: permissionGroupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionGroupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionGroupRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroupModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Permission Group
      tags:
      - Permission Groups
  /v1/integrations/{integrationId}:
    delete:
      description: This endpoint removes a Integration identified by the `integrationId`
        parameter.
      operationId: delete-integration
      parameters:
      - description: The identifier of the Integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Integration
      tags:
      - Integrations
    get:
      description: |-
        This endpoint returns the metadata of an Integration
        identified by the `integrationId`.
      operationId: get-integration
      parameters:
      - description: The identifier of the Integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationModel'
          description: "When everything is ok, the integration data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Integration
      tags:
      - Integrations
    put:
      description: "This endpoint updates a Config identified by the `integrationId`\
        \ parameter.\n\nThe Parameters dictionary differs for each IntegrationType:\n\
        - Datadog\n\t- `apikey`: Required. Datadog API key.\n\t- `site`: Datadog site.\
        \ Available values: `Us`, `Eu`, `Us1Fed`, `Us3`, `Us5`. Default: `Us`.\n-\
        \ Slack  \n\tConnecting the Slack integration through the Public Management\
        \ API will not post messages with the ConfigCat Feature Flags Slack app but\
        \ with an incoming webhook.\n\t- `incoming_webhook.url`: Required. The [incoming\
        \ webhook URL](https://api.slack.com/messaging/webhooks) where the integration\
        \ should post messages.\n- Amplitude\n\t- `apiKey`: Required. Amplitude API\
        \ Key.\n\t- `secretKey`: Required. Amplitude Secret Key.\n- Mixpanel\n\t-\
        \ `serviceAccountUserName`: Required. Mixpanel Service Account Username.\n\
        \t- `serviceAccountSecret`: Required. Mixpanel Service Account Secret.\n\t\
        - `projectId`: Required. Mixpanel Project ID.\n\t- `server`: Mixpanel Server.\
        \ Available values: `StandardServer`, `EUResidencyServer`. Default: `StandardServer`.\n\
        - Twilio Segment\n\t- `writeKey`: Required. Twilio Segment Write Key.\n\t\
        - `server`: Twilio Segment Server. Available values: `Us`, `Eu`. Default:\
        \ `Us`.\n- PubNub (work in progress)"
      operationId: update-integration
      parameters:
      - description: The identifier of the Integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyIntegrationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ModifyIntegrationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ModifyIntegrationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Integration
      tags:
      - Integrations
  /v1/integrationLink/{integrationLinkType}/{key}/details:
    get:
      description: ""
      operationId: get-integration-link-details
      parameters:
      - description: The integration link's type.
        explode: false
        in: path
        name: integrationLinkType
        required: true
        schema:
          enum:
          - trello
          - jira
          - monday
          type: string
        style: simple
      - description: The key of the integration link.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationLinkDetailsModel'
          description: "When everything is ok, the details for the integration link\
            \ returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Integration link
      tags:
      - Integration links
  /v1/configs/{configId}/environments/{environmentId}:
    get:
      description: This endpoint returns the SDK Key for your Config in a specified
        Environment.
      operationId: get-sdk-keys
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkKeysModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get SDK Key
      tags:
      - SDK Keys
  /v1/me:
    get:
      description: ""
      operationId: get-me
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeModel'
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get authenticated user details
      tags:
      - Me
  /v1/organizations/{organizationId}/auditlogs:
    get:
      description: "This endpoint returns the list of Audit log items for a given\
        \ Organization \nand the result can be optionally filtered by Product and/or\
        \ Config and/or Environment."
      operationId: get-organization-auditlogs
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Product.
        explode: true
        in: query
        name: productId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Config.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Environment.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Audit logs by Audit log type.
        explode: true
        in: query
        name: auditLogType
        required: false
        schema:
          enum:
          - productCreated
          - productChanged
          - productOwnershipTransferred
          - productDeleted
          - productsReordered
          - teamMemberInvited
          - teamMemberInvitationRevoked
          - teamMemberJoined
          - teamMemberPermissionGroupChanged
          - teamMemberRemoved
          - teamMemberLeft
          - teamMemberInvitationChanged
          - teamMemberInvitationResent
          - teamMemberInvitationRejected
          - configCreated
          - configChanged
          - configDeleted
          - configsReordered
          - environmentCreated
          - environmentChanged
          - environmentDeleted
          - environmentsReordered
          - settingCreated
          - settingChanged
          - settingDeleted
          - settingsReordered
          - settingValueChanged
          - webHookCreated
          - webHookChanged
          - webHookDeleted
          - permissionGroupCreated
          - permissionGroupChanged
          - permissionGroupDeleted
          - permissionGroupDefault
          - apiKeyAdded
          - apiKeyRemoved
          - integrationAdded
          - integrationChanged
          - integrationRemoved
          - apiKeyConnected
          - integrationLinkAdded
          - integrationLinkRemoved
          - organizationAdded
          - organizationRemoved
          - organizationChanged
          - organizationSubscriptionTypeChanged
          - organizationAdminChanged
          - organizationAdminLeft
          - organizationAdminDisabled2FA
          - tagAdded
          - tagChanged
          - tagRemoved
          - settingTagAdded
          - settingTagRemoved
          - publicApiAccessTokenAdded
          - publicApiAccessTokenRemoved
          - domainAdded
          - domainVerified
          - domainRemoved
          - domainSamlConfigured
          - domainSamlDeleted
          - autoProvisioningConfigurationChanged
          - samlIdpConfigurationAdded
          - samlIdpConfigurationRemoved
          - samlIdpConfigurationUpdated
          - organizationMemberJoined
          - organizationMemberProductJoinRequested
          - organizationMemberProductJoinRequestRejected
          - organizationMemberProductJoinRequestApproved
          - codeReferencesUploaded
          - codeReferenceDeleted
          - codeReferenceStaleBranchDeleted
          - segmentCreated
          - segmentChanged
          - segmentDeleted
          - webhookSigningKeyDeleted
          - webhookSigningKeyCreated
          type: string
        style: form
      - description: Filter Audit logs by starting UTC date.
        explode: true
        in: query
        name: fromUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter Audit logs by ending UTC date.
        explode: true
        in: query
        name: toUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuditLogItemModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Audit log items for Organization
      tags:
      - Audit logs
  /v1/organizations/{organizationId}/members:
    get:
      deprecated: true
      description: "This endpoint returns the list of Members that belongs \nto the\
        \ given Organization, identified by the `organizationId` parameter.\n\nThe\
        \ results may vary based on the access level of the user who calls the endpoint:\
        \ \n- When it's called with Organization Admin privileges, the result will\
        \ contain each member in the Organization.\n- When it's called without Organization\
        \ Admin privileges, the result will contain each Organization Admin along\
        \ with members \n  of those products where the caller has `Team members and\
        \ permission groups` (`canManageMembers`) permission."
      operationId: get-organization-members
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Organization Members
      tags:
      - Members
  /v2/organizations/{organizationId}/members:
    get:
      description: "This endpoint returns the list of Members that belongs \nto the\
        \ given Organization, identified by the `organizationId` parameter.\n\nThe\
        \ results may vary based on the access level of the user who calls the endpoint:\
        \ \n- When it's called with Organization Admin privileges, the result will\
        \ contain each member in the Organization.\n- When it's called without Organization\
        \ Admin privileges, the result will contain each Organization Admin along\
        \ with members \n  of those products where the caller has `Team members and\
        \ permission groups` (`canManageMembers`) permission."
      operationId: get-organization-members-v2
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembersModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Organization Members
      tags:
      - Members
  /v1/organizations/{organizationId}/invitations:
    get:
      description: |-
        This endpoint returns the list of pending invitations within the
        given Organization identified by the `organizationId` parameter.
      operationId: get-pending-invitations-org
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationInvitationModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Pending Invitations in Organization
      tags:
      - Members
  /v1/products/{productId}/invitations:
    get:
      description: |-
        This endpoint returns the list of pending invitations within the
        given Product identified by the `productId` parameter.
      operationId: get-pending-invitations
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvitationModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Pending Invitations in Product
      tags:
      - Members
  /v1/products/{productId}:
    delete:
      description: This endpoint removes a Product identified by the `productId` parameter.
      operationId: delete-product
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Product
      tags:
      - Products
    get:
      description: "This endpoint returns the metadata of a Product \nidentified by\
        \ the `productId`."
      operationId: get-product
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductModel'
          description: "When everything is ok, the product data is returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Product
      tags:
      - Products
    put:
      description: This endpoint updates a Product identified by the `productId` parameter.
      operationId: update-product
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Product
      tags:
      - Products
  /v1/products/{productId}/members:
    get:
      description: "This endpoint returns the list of Members that belongs \nto the\
        \ given Product, identified by the `productId` parameter."
      operationId: get-product-members
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MemberModel'
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Product Members
      tags:
      - Members
  /v1/products/{productId}/preferences:
    get:
      description: "This endpoint returns the preferences of a Product \nidentified\
        \ by the `productId`."
      operationId: get-product-preferences
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencesModel'
          description: "When everything is ok, the product preferences data is returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Product Preferences
      tags:
      - Products
    post:
      description: This endpoint updates the preferences of a Product identified by
        the `productId` parameter.
      operationId: update-product-preferences
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencesModel'
          description: When the update was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Product Preferences
      tags:
      - Products
  /v1/segments/{segmentId}:
    delete:
      description: This endpoint removes a Segment identified by the `segmentId` parameter.
      operationId: delete-segment
      parameters:
      - description: The identifier of the Segment.
        explode: false
        in: path
        name: segmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Segment
      tags:
      - Segments
    get:
      description: |-
        This endpoint returns the metadata of a Segment
        identified by the `segmentId`.
      operationId: get-segment
      parameters:
      - description: The identifier of the Segment.
        explode: false
        in: path
        name: segmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentModel'
          description: "When everything is ok, the config data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Segment
      tags:
      - Segments
    put:
      description: This endpoint updates a Segment identified by the `segmentId` parameter.
      operationId: update-segment
      parameters:
      - description: The identifier of the Segment.
        explode: false
        in: path
        name: segmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSegmentModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateSegmentModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateSegmentModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Segment
      tags:
      - Segments
  /v1/settings/{settingId}:
    delete:
      description: "This endpoint removes a Feature Flag or Setting from a specified\
        \ Config, \nidentified by the `configId` parameter."
      operationId: delete-setting
      parameters:
      - description: The identifier of the Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Flag
      tags:
      - Feature Flags & Settings
    get:
      description: "This endpoint returns the metadata attributes of a Feature Flag\
        \ or Setting \nidentified by the `settingId` parameter."
      operationId: get-setting
      parameters:
      - description: The identifier of the Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingModel'
          description: "When everything is ok, the setting data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Flag
      tags:
      - Feature Flags & Settings
    patch:
      description: "This endpoint updates the metadata of a Feature Flag or Setting\
        \ \nwith a collection of [JSON Patch](https://jsonpatch.com) operations in\
        \ a specified Config.\n\nOnly the `name`, `hint` and `tags` attributes are\
        \ modifiable by this endpoint.\nThe `tags` attribute is a simple collection\
        \ of the [tag IDs](#operation/get-tags) attached to the given setting.\n\n\
        The advantage of using JSON Patch is that you can describe individual update\
        \ operations on a resource\nwithout touching attributes that you don't want\
        \ to change.\n\nFor example: We have the following resource.\n```json\n{\n\
        \  \"settingId\": 5345,\n  \"key\": \"myGrandFeature\",\n  \"name\": \"Tihs\
        \ is a naem with soem typos.\",\n  \"hint\": \"This flag controls my grandioso\
        \ feature.\",\n  \"settingType\": \"boolean\",\n  \"tags\": [\n    {\n   \
        \   \"tagId\": 0, \n      \"name\": \"sample tag\", \n      \"color\": \"\
        whale\"\n    }\n  ]\n}\n```\nIf we send an update request body as below (it\
        \ changes the `name` and adds the already existing tag with the id `2`):\n\
        ```json\n[\n  {\n    \"op\": \"replace\", \n    \"path\": \"/name\", \n  \
        \  \"value\": \"This is the name without typos.\"\n  }, \n  {\n    \"op\"\
        : \"add\", \n    \"path\": \"/tags/-\", \n    \"value\": 2\n  }\n]\n```\n\
        Only the `name` and `tags` are updated and all the other attributes remain\
        \ unchanged.\nSo we get a response like this:\n```json\n{\n  \"settingId\"\
        : 5345, \n  \"key\": \"myGrandFeature\", \n  \"name\": \"This is the name\
        \ without typos.\", \n  \"hint\": \"This flag controls my grandioso feature.\"\
        , \n  \"settingType\": \"boolean\", \n  \"tags\": [\n    {\n      \"tagId\"\
        : 0, \n      \"name\": \"sample tag\", \n      \"color\": \"whale\"\n    },\
        \ \n    {\n      \"tagId\": 2, \n      \"name\": \"another tag\", \n     \
        \ \"color\": \"koala\"\n    }\n  ]\n}\n```"
      operationId: update-setting
      parameters:
      - description: The identifier of the Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingModel'
          description: When the update was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Flag
      tags:
      - Feature Flags & Settings
    put:
      description: "This endpoint replaces the whole value of a Feature Flag or Setting\n\
        identified by the `settingId` parameter.\n\n**Important:** As this endpoint\
        \ is doing a complete replace, it's important to set every other attribute\
        \ that you don't \nwant to change in its original state. Not listing one means\
        \ it will reset."
      operationId: replace-setting
      parameters:
      - description: The identifier of the Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceSettingModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ReplaceSettingModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReplaceSettingModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingModel'
          description: When the replace was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Replace Flag
      tags:
      - Feature Flags & Settings
  /v1/tags/{tagId}/settings:
    get:
      description: "This endpoint returns the list of the Settings that \nhas the\
        \ specified Tag, identified by the `tagId` parameter."
      operationId: get-settings-by-tag
      parameters:
      - description: The identifier of the Tag.
        explode: false
        in: path
        name: tagId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SettingModel'
                type: array
          description: "When everything is ok, the settings data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Settings by Tag
      tags:
      - Tags
  /v1/settings/{settingKeyOrId}/value:
    get:
      description: "This endpoint returns the value of a Feature Flag or Setting \n\
        in a specified Environment identified by the <a target=\"_blank\" rel=\"noopener\
        \ noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed\
        \ in the `X-CONFIGCAT-SDKKEY` header.\n\nThe most important attributes in\
        \ the response are the `value`, `rolloutRules` and `percentageRules`.\nThe\
        \ `value` represents what the clients will get when the evaluation requests\
        \ of our SDKs \nare not matching to any of the defined Targeting or Percentage\
        \ Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules`\
        \ and `percentageRules` attributes are representing the current \nTargeting\
        \ and Percentage Rules configuration of the actual Feature Flag or Setting\
        \ \nin an **ordered** collection, which means the order of the returned rules\
        \ is matching to the\nevaluation order. You can read more about these rules\
        \ [here](https://configcat.com/docs/targeting/targeting-overview/)."
      operationId: get-setting-value-by-sdkkey
      parameters:
      - description: The key or id of the Setting.
        explode: false
        in: path
        name: settingKeyOrId
        required: true
        schema:
          type: string
        style: simple
      - description: The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)
        explode: false
        in: header
        name: X-CONFIGCAT-SDKKEY
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingValueModel'
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get value
      tags:
      - Feature Flag & Setting values using SDK Key
    patch:
      description: "This endpoint updates the value of a Feature Flag or Setting \n\
        with a collection of [JSON Patch](https://jsonpatch.com) operations in a specified\
        \ Environment\nidentified by the <a target=\"_blank\" rel=\"noopener noreferrer\"\
        \ href=\"https://app.configcat.com/sdkkey\">SDK key</a> passed in the `X-CONFIGCAT-SDKKEY`\
        \ header.\n\nOnly the `value`, `rolloutRules` and `percentageRules` attributes\
        \ are modifiable by this endpoint.\n\nThe advantage of using JSON Patch is\
        \ that you can describe individual update operations on a resource\nwithout\
        \ touching attributes that you don't want to change. It supports collection\
        \ reordering, so it also \ncan be used for reordering the targeting rules\
        \ of a Feature Flag or Setting.\n\nFor example: We have the following resource.\n\
        ```json\n{\n  \"rolloutPercentageItems\": [\n    {\n      \"percentage\":\
        \ 30,\n      \"value\": true\n    },\n    {\n      \"percentage\": 70,\n \
        \     \"value\": false\n    }\n  ],\n  \"rolloutRules\": [],\n  \"value\"\
        : false\n}\n```\nIf we send an update request body as below:\n```json\n[\n\
        \  {\n    \"op\": \"replace\",\n    \"path\": \"/value\",\n    \"value\":\
        \ true\n  }\n]\n```\nOnly the default served value is going to be set to `true`\
        \ and all the Percentage Rules are remaining unchanged.\nSo we get a response\
        \ like this:\n```json\n{\n  \"rolloutPercentageItems\": [\n    {\n      \"\
        percentage\": 30,\n      \"value\": true\n    },\n    {\n      \"percentage\"\
        : 70,\n      \"value\": false\n    }\n  ],\n  \"rolloutRules\": [],\n  \"\
        value\": true\n}\n```"
      operationId: update-setting-value-by-sdkkey
      parameters:
      - description: The key or id of the Setting.
        explode: false
        in: path
        name: settingKeyOrId
        required: true
        schema:
          type: string
        style: simple
      - description: The reason note for the Audit Log if the Product's "Config changes
          require a reason" preference is turned on.
        explode: true
        in: query
        name: reason
        required: false
        schema:
          type: string
        style: form
      - description: The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)
        explode: false
        in: header
        name: X-CONFIGCAT-SDKKEY
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              turn on a feature flag:
                description: This example turns on a feature flag.
                value:
                - op: replace
                  path: /value
                  value: true
              add percentage rules:
                description: This example adds two items to the percentage evaluation
                  rules.
                value:
                - op: add
                  path: /rolloutPercentageItems/-
                  value:
                    percentage: 30
                    value: true
                - op: add
                  path: /rolloutPercentageItems/-
                  value:
                    percentage: 70
                    value: false
              add targeting rules:
                description: This example adds two items to the targeting evaluation
                  rules.
                value:
                - op: add
                  path: /rolloutRules/-
                  value:
                    comparisonAttribute: Identifier
                    comparator: contains
                    comparisonValue: '@example.com'
                    value: true
                - op: add
                  path: /rolloutRules/-
                  value:
                    comparisonAttribute: Identifier
                    comparator: isOneOf
                    comparisonValue: '@blacklist.com'
                    value: false
              modify targeting rule:
                description: This example modifies the first targeting rule's comparison
                  value and the second's value.
                value:
                - op: replace
                  path: /rolloutRules/0/comparisonValue
                  value: '@example2.com'
                - op: replace
                  path: /rolloutRules/1/value
                  value: true
              add segment rules:
                description: This example adds a segment to the evaluation rules.
                value:
                - op: add
                  path: /rolloutRules/-
                  value:
                    segmentComparator: isIn
                    segmentId: 008a1fd6-8245-4ea8-90dc-a1dc36c1b4ff
              reorder targeting rules:
                description: This example swaps the first and the second targeting
                  evaluation rule.
                value:
                - op: move
                  path: /rolloutRules/1
                  from: /rolloutRules/0
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
          text/json:
            examples:
              turn on a feature flag:
                description: This example turns on a feature flag.
                value:
                - op: replace
                  path: /value
                  value: true
              add percentage rules:
                description: This example adds two items to the percentage evaluation
                  rules.
                value:
                - op: add
                  path: /rolloutPercentageItems/-
                  value:
                    percentage: 30
                    value: true
                - op: add
                  path: /rolloutPercentageItems/-
                  value:
                    percentage: 70
                    value: false
              add targeting rules:
                description: This example adds two items to the targeting evaluation
                  rules.
                value:
                - op: add
                  path: /rolloutRules/-
                  value:
                    comparisonAttribute: Identifier
                    comparator: contains
                    comparisonValue: '@example.com'
                    value: true
                - op: add
                  path: /rolloutRules/-
                  value:
                    comparisonAttribute: Identifier
                    comparator: isOneOf
                    comparisonValue: '@blacklist.com'
                    value: false
              modify targeting rule:
                description: This example modifies the first targeting rule's comparison
                  value and the second's value.
                value:
                - op: replace
                  path: /rolloutRules/0/comparisonValue
                  value: '@example2.com'
                - op: replace
                  path: /rolloutRules/1/value
                  value: true
              add segment rules:
                description: This example adds a segment to the evaluation rules.
                value:
                - op: add
                  path: /rolloutRules/-
                  value:
                    segmentComparator: isIn
                    segmentId: 008a1fd6-8245-4ea8-90dc-a1dc36c1b4ff
              reorder targeting rules:
                description: This example swaps the first and the second targeting
                  evaluation rule.
                value:
                - op: move
                  path: /rolloutRules/1
                  from: /rolloutRules/0
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
          application/*+json:
            examples:
              turn on a feature flag:
                description: This example turns on a feature flag.
                value:
                - op: replace
                  path: /value
                  value: true
              add percentage rules:
                description: This example adds two items to the percentage evaluation
                  rules.
                value:
                - op: add
                  path: /rolloutPercentageItems/-
                  value:
                    percentage: 30
                    value: true
                - op: add
                  path: /rolloutPercentageItems/-
                  value:
                    percentage: 70
                    value: false
              add targeting rules:
                description: This example adds two items to the targeting evaluation
                  rules.
                value:
                - op: add
                  path: /rolloutRules/-
                  value:
                    comparisonAttribute: Identifier
                    comparator: contains
                    comparisonValue: '@example.com'
                    value: true
                - op: add
                  path: /rolloutRules/-
                  value:
                    comparisonAttribute: Identifier
                    comparator: isOneOf
                    comparisonValue: '@blacklist.com'
                    value: false
              modify targeting rule:
                description: This example modifies the first targeting rule's comparison
                  value and the second's value.
                value:
                - op: replace
                  path: /rolloutRules/0/comparisonValue
                  value: '@example2.com'
                - op: replace
                  path: /rolloutRules/1/value
                  value: true
              add segment rules:
                description: This example adds a segment to the evaluation rules.
                value:
                - op: add
                  path: /rolloutRules/-
                  value:
                    segmentComparator: isIn
                    segmentId: 008a1fd6-8245-4ea8-90dc-a1dc36c1b4ff
              reorder targeting rules:
                description: This example swaps the first and the second targeting
                  evaluation rule.
                value:
                - op: move
                  path: /rolloutRules/1
                  from: /rolloutRules/0
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingValueModel'
          description: ""
        "204":
          description: When no change applied on the resource.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update value
      tags:
      - Feature Flag & Setting values using SDK Key
    put:
      description: "This endpoint replaces the value of a Feature Flag or Setting\
        \ \nin a specified Environment identified by the <a target=\"_blank\" rel=\"\
        noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\">SDK key</a>\
        \ passed in the `X-CONFIGCAT-SDKKEY` header.\n\nOnly the `value`, `rolloutRules`\
        \ and `percentageRules` attributes are modifiable by this endpoint.\n\n**Important:**\
        \ As this endpoint is doing a complete replace, it's important to set every\
        \ other attribute that you don't \nwant to change to its original state. Not\
        \ listing one means it will reset.\n\nFor example: We have the following resource.\n\
        ```json\n{\n  \"rolloutPercentageItems\": [\n    {\n      \"percentage\":\
        \ 30,\n      \"value\": true\n    },\n    {\n      \"percentage\": 70,\n \
        \     \"value\": false\n    }\n  ],\n  \"rolloutRules\": [],\n  \"value\"\
        : false\n}\n```\nIf we send a replace request body as below:\n```json\n{\n\
        \  \"value\": true\n}\n```\nThen besides that the default served value is\
        \ set to `true`, all the Percentage Rules are deleted. \nSo we get a response\
        \ like this:\n```json\n{\n  \"rolloutPercentageItems\": [],\n  \"rolloutRules\"\
        : [],\n  \"value\": true\n}\n```"
      operationId: replace-setting-value-by-sdkkey
      parameters:
      - description: The key or id of the Setting.
        explode: false
        in: path
        name: settingKeyOrId
        required: true
        schema:
          type: string
        style: simple
      - description: The reason note for the Audit Log if the Product's "Config changes
          require a reason" preference is turned on.
        explode: true
        in: query
        name: reason
        required: false
        schema:
          type: string
        style: form
      - description: The ConfigCat SDK Key. (https://app.configcat.com/sdkkey)
        explode: false
        in: header
        name: X-CONFIGCAT-SDKKEY
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              simple:
                description: This example turns on a feature flag.
                value:
                  value: true
              advanced:
                description: This example turns on a feature flag and adds two items
                  to its percentage evaluation rules.
                value:
                  value: true
                  rolloutPercentageItems:
                  - percentage: 30
                    value: true
                  - percentage: 70
                    value: false
            schema:
              $ref: '#/components/schemas/UpdateSettingValueModel'
          text/json:
            examples:
              simple:
                description: This example turns on a feature flag.
                value:
                  value: true
              advanced:
                description: This example turns on a feature flag and adds two items
                  to its percentage evaluation rules.
                value:
                  value: true
                  rolloutPercentageItems:
                  - percentage: 30
                    value: true
                  - percentage: 70
                    value: false
            schema:
              $ref: '#/components/schemas/UpdateSettingValueModel'
          application/*+json:
            examples:
              simple:
                description: This example turns on a feature flag.
                value:
                  value: true
              advanced:
[...]
