openapi: 3.0.4
info:
  contact:
    email: support@configcat.com
    name: ConfigCat
    url: https://configcat.com
  description: "The purpose of this API is to access the ConfigCat platform programmatically.\n\
    You can **Create**, **Read**, **Update** and **Delete** any entities like **Feature\
    \ Flags, Configs, Environments** or **Products** within ConfigCat.\n\n**Base API\
    \ URL**: https://api.configcat.com\n\nIf you prefer the swagger documentation,\
    \ you can find it here: [Swagger UI](https://api.configcat.com/swagger).\n\nThe\
    \ API is based on HTTP REST, uses resource-oriented URLs, status codes and supports\
    \ JSON \nformat. \n\n**Important:** Do not use this API for accessing and evaluating\
    \ feature flag values. Use the [SDKs](https://configcat.com/docs/sdk-reference/overview)\
    \ or the [ConfigCat Proxy](https://configcat.com/docs/advanced/proxy/proxy-overview/)\
    \ instead.\n\n# OpenAPI Specification\n\nThe complete specification is publicly\
    \ available in the following formats: \n- [OpenAPI v3](https://api.configcat.com/docs/v1/swagger.json)\n\
    - [Swagger v2](https://api.configcat.com/docs/v1/swagger.v2.json)\n\nYou can use\
    \ it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator)\
    \ or\n[Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact\
    \ with this API.\n\n# Authentication\nThis API uses the [Basic HTTP Authentication\
    \ Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication). \n\n<!--\
    \ ReDoc-Inject: <security-definitions> -->\n\n# Throttling and rate limits\nAll\
    \ the rate limited API calls are returning information about the current rate\
    \ limit period in the following HTTP headers:\n\n| Header | Description |\n| :-\
    \ | :- |\n| X-Rate-Limit-Remaining | The maximum number of requests remaining\
    \ in the current rate limit period. |\n| X-Rate-Limit-Reset     | The time\twhen\
    \ the current rate limit period resets.\t\t\t\t\t\t  |\n\nWhen the rate limit\
    \ is exceeded by a request, the API returns with a `HTTP 429 - Too many requests`\
    \ status along with a `Retry-After` HTTP header.\n"
  termsOfService: https://configcat.com/policies
  title: ConfigCat Public Management API
  version: v1
  x-logo:
    url: https://api.configcat.com/resources/configcat-logo-horiz.svg
servers:
- url: https://api.configcat.com
security:
- Basic: []
tags:
- description: |-
    <i>These endpoints are exclusive for <a target="_blank" rel="noopener noreferrer" href="https://configcat.com/docs/advanced/config-v2/"><b>Config V2</b></a> Feature Flags.</i>
    <br /><i>They can only be used on a Config that has `evaluationVersion` set to `v2`.</i><br /><br />
    With these endpoints you can control how your existing Feature Flags and Settings should serve their values.
    You can turn Feature Flags on or off, update Setting values and change Targeting Rules.

    These endpoints are determining the Environment and Config by the <a target="_blank" rel="noopener noreferrer" href="https://app.configcat.com/sdkkey">SDK key</a> passed in
    the `X-CONFIGCAT-SDKKEY` request header. To identify the desired Feature Flag or Setting to change,
    you can use either its `settingId` or `key` attribute. You can get those attributes
    from the [Feature Flag & Setting](#tag/Feature-Flags-and-Settings) endpoints.
  name: Feature Flag & Setting values using SDK Key V2
- description: |-
    <i>These endpoints are exclusive for <a target="_blank" rel="noopener noreferrer" href="https://configcat.com/docs/advanced/config-v2/"><b>Config V2</b></a> Feature Flags.</i>
    <br /><i>They can only be used on a Config that has `evaluationVersion` set to `v2`.</i><br /><br />
    With these endpoints you can control how your existing Feature Flags and Settings should serve their values.
    You can turn Feature Flags on or off, update Setting values and change Targeting Rules.

    To determine which Feature Flag or Setting you want to work with you have to pass its `settingId`. It can be
    obtained from the [Feature Flag & Setting](#tag/Feature-Flags-and-Settings) endpoints.

    You also have to specify in which Environment you want to change the served value configuration by its
    `environmentId` which can be obtained from the [List Environments](#operation/get-environments) endpoint.
  name: Feature Flag & Setting values V2
- description: |-
    Propose, review, and apply changes to Settings in a controlled workflow.

    A _change request_ is a set of changes to Settings that you prepare without publishing them right away.
    You can propose changes for later manual publishing, or schedule it to be applied automatically at a specific time.
    This supports the four-eyes principle, because another person can review and approve the change before it reaches production.

    **Beta feature:** Approval Flow and Scheduled Changes are in closed beta. You can join the beta by contacting support. We are collecting feedback from real-world use to improve the experience.
  name: Change Requests (Approval flow & Scheduled changes) - Beta
- description: "With these endpoints you can control how your existing Feature Flags\
    \ and Settings should serve their values. \nYou can turn Feature Flags on or off,\
    \ update Setting values and also add, remove or change the order of Percentage\
    \ and Targeting Rules.\n\nThese endpoints are determining the Environment and\
    \ Config by the <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://app.configcat.com/sdkkey\"\
    >SDK key</a> passed in\nthe `X-CONFIGCAT-SDKKEY` request header. To identify the\
    \ desired Feature Flag or Setting to change, \nyou can use either its `settingId`\
    \ or `key` attribute. You can get those attributes \nfrom the [Feature Flag &\
    \ Setting](#tag/Feature-Flags-and-Settings) endpoints."
  name: Feature Flag & Setting values using SDK Key
- description: "With these endpoints you can control how your existing Feature Flags\
    \ and Settings should serve their values. \nYou can turn Feature Flags on or off,\
    \ update Setting values and also add, remove or reorder Percentage and Targeting\
    \ Rules.\n\nTo determine which Feature Flag or Setting you want to work with you\
    \ have to pass its `settingId`. It can be\nobtained from the [Feature Flag & Setting](#tag/Feature-Flags-and-Settings)\
    \ endpoints.\n\nYou also have to specify in which Environment you want to change\
    \ the served value configuration by its\n`environmentId` which can be obtained\
    \ from the [List Environments](#operation/get-environments) endpoint."
  name: Feature Flag & Setting values
- description: "With these endpoints you can manage your Feature Flags or Settings\
    \ within a Config. \nHowever you can't use them for manipulating the values of\
    \ your Feature Flags and Settings,\nto do that please visit the [Feature Flag\
    \ & Setting values using SDK Key](#tag/Feature-Flag-and-Setting-values-using-SDK-Key)\n\
    and [Feature Flag & Setting values](#tag/Feature-Flag-and-Setting-values) sections\
    \ of the API.\n\nFor using these endpoints, first you have to select which Config\
    \ you want to work with by its `configId` \nwhich can be obtained from the [List\
    \ Configs](#operation/get-configs) endpoint. \nThen you can use it to create new\
    \ Feature Flags or to get information about existing ones.\n\nThen you can obtain\
    \ the `settingId` or `key` of your desired Feature Flag or Setting \nto use them\
    \ for further operations in this API. \n\n<a href=\"https://configcat.com/docs/main-concepts/#setting\"\
    \ target=\"_blank\" rel=\"noopener noreferrer\">Here</a> you can read more about\
    \ the concept of Settings."
  name: Feature Flags & Settings
- description: |-
    With these endpoints you can get useful information about your Organizations.
    This also can be used to manage your [Products](#tag/Products).

    <a href="https://configcat.com/docs/organization/" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the Organizations.
  name: Organizations
- description: |-
    With these endpoints you can manage your Members.

    <a href="https://configcat.com/docs/advanced/team-management/team-management-basics" target="_blank" rel="noopener noreferrer">Here</a> you can read more about Team Management.
  name: Members
- description: |-
    With these endpoints you can manage your Permission Groups.

    <a href="https://configcat.com/docs/advanced/team-management/team-management-basics" target="_blank" rel="noopener noreferrer">Here</a> you can read more about Permissions.
  name: Permission Groups
- description: |-
    With these endpoints you can manage your Products.
    By gathering the right `productId`, you can also manage [Environments](#tag/Environments), [Configs](#tag/Configs), [Tags](#tag/Tags), [Webhooks](#tag/Webhooks), and [Permission Groups](#tag/Permission-Groups) through the API.

    <a href="https://configcat.com/docs/main-concepts/#product" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the concept of Products.
  name: Products
- description: |-
    With these endpoints you can manage Webhooks.

    <a href="https://configcat.com/docs/advanced/notifications-webhooks" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the concept of Webhooks.
  name: Webhooks
- description: "With these endpoints you can manage your Configs.\nThis also can be\
    \ used to manage [Feature Flags and Settings](#tag/Feature-Flags-and-Settings)\
    \ and their \n[served values](#tag/Feature-Flag-and-Setting-values) through this\
    \ API.\n\n<a href=\"https://configcat.com/docs/main-concepts/#config\" target=\"\
    _blank\" rel=\"noopener noreferrer\">Here</a> you can read more about the concept\
    \ of Configs."
  name: Configs
- description: "With these endpoints you can update existing Environments or add new\
    \ ones into your selected [Product](#tag/Products). \n\n<a href=\"https://configcat.com/docs/main-concepts/#environment\"\
    \ target=\"_blank\" rel=\"noopener noreferrer\">Here</a> you can read more about\
    \ the concept of Environments."
  name: Environments
- description: |-
    With these endpoints you can manage your Segments.
    Segments allow you to group your users based on any of their properties. Define user segments and add them to multiple feature flags.
  name: Segments
- description: With these endpoints you can manage your SDK Keys.
  name: SDK Keys
- description: "With these endpoints you can manage Tags. Tags are stored under a\
    \ Product. You can  and add a Tag to a Feature Flag or Setting using the [Update\
    \ Flag](#operation/update-setting) endpoint."
  name: Tags
- description: |-
    With these endpoints you can manage your Integrations.

    - <a href="https://configcat.com/docs/integrations/datadog/" target="_blank" rel="noopener noreferrer">Datadog</a>
    - <a href="https://configcat.com/docs/integrations/slack/" target="_blank" rel="noopener noreferrer">Slack</a>
    - <a href="https://configcat.com/docs/integrations/amplitude/" target="_blank" rel="noopener noreferrer">Amplitude</a>
    - <a href="https://configcat.com/docs/integrations/mixpanel/" target="_blank" rel="noopener noreferrer">MixPanel</a>
    - <a href="https://configcat.com/docs/integrations/segment/" target="_blank" rel="noopener noreferrer">Segment</a>
    - PubNub (work in progress)
  name: Integrations
- description: With these endpoints you can manage your integration links.
  name: Integration links
- description: Access audit log entries.
  name: Audit logs
- description: List Zombie (stale) flags
  name: Zombie (stale) flags
- description: Information about the current user.
  name: Me
- description: |-
    With this endpoint you can upload Feature Flag and Setting usage references that will be shown on the ConfigCat Dashboard.

    <a href="https://configcat.com/docs/advanced/code-references/overview/" target="_blank" rel="noopener noreferrer">Here</a> you can read more about the concept of Code References.
  name: Code References
- description: |-
    With these endpoints you can manage your Organization's Proxy Profiles.

    <a href="https://configcat.com/docs/advanced/proxy/proxy-overview/#1-automatic-configuration-with-proxy-profiles" target="_blank" rel="noopener noreferrer">Here</a> you can read more about Proxy Profiles.
  name: Proxy Profiles
paths:
  /v2/change-requests/{changeRequestId}:
    get:
      description: Returns the details of a specific Change Request.
      operationId: get-change-request
      parameters:
      - description: The identifier of the Change Request.
        explode: false
        in: path
        name: changeRequestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Change Request
      tags:
      - Change Requests (Approval flow & Scheduled changes) - Beta
    put:
      description: "Updates the metadata of a Change Request, such as title, note,\
        \ schedule, etc."
      operationId: update-change-request
      parameters:
      - description: The identifier of the Change Request.
        explode: false
        in: path
        name: changeRequestId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChangeRequestModel"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateChangeRequestModel"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateChangeRequestModel"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestModel"
          description: When the update was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Change Request
      tags:
      - Change Requests (Approval flow & Scheduled changes) - Beta
  /v1/proxy-profiles/{proxyProfileId}:
    delete:
      description: This endpoint removes a Proxy Profile identified by the `proxyProfileId`
        parameter.
      operationId: delete-proxy-profile
      parameters:
      - description: The identifier of the Proxy Profile.
        explode: false
        in: path
        name: proxyProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Proxy Profile
      tags:
      - Proxy Profiles
    get:
      description: "This endpoint returns a Proxy Profile \nidentified by the `proxyProfileId`."
      operationId: get-proxy-profile
      parameters:
      - description: The identifier of the Proxy Profile.
        explode: false
        in: path
        name: proxyProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyProfileModel"
          description: "When everything is ok, the Proxy Profile is returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Proxy Profile
      tags:
      - Proxy Profiles
    patch:
      description: "This endpoint updates a Proxy Profile identified by the `proxyProfileId`\
        \ parameter with a collection of [JSON Patch](https://jsonpatch.com) operations.\n\
        \nThe advantage of using JSON Patch is that you can describe individual update\
        \ operations on a resource without touching attributes that you don't want\
        \ to change.\n\nFor example: We have the following resource.\n```json\n{\n\
        \  \"proxyProfileId\": \"4ebe288d-6415-44a8-85c8-7b9f78316a86\",\n  \"name\"\
        : \"production\",\n  \"description\": \"profile for production environments\"\
        ,\n  \"lastAccessedAt\": \"2019-08-24T14:15:22Z\",\n  \"connectionPreferences\"\
        : {\n    \"sdkPollInterval\": 60,\n    \"webhookNotification\": null\n  },\n\
        \  \"sdkKeySelectionRules\": []\n}\n```\nIf we send an update request body\
        \ as below (it changes the `sdkPollInterval` field and adds a new Proxy Webhook\
        \ URL):\n```json\n[\n  {\n    \"op\": \"replace\", \n    \"path\": \"/connectionPreferences/sdkPollInterval\"\
        , \n    \"value\": 120\n  }, \n  {\n    \"op\": \"add\",\n    \"path\": \"\
        /connectionPreferences/webhookNotification\",\n    \"value\": {\n      \"\
        webhookProxyUrl\": \"https://my-proxy-url.com\"\n    }\n  }\n]\n```\nOnly\
        \ the `sdkPollInterval` and `webhookProxyUrl` are updated and all the other\
        \ attributes remain unchanged.\nSo we get a response like this:\n```json\n\
        {\n  \"proxyProfileId\": \"4ebe288d-6415-44a8-85c8-7b9f78316a86\",\n  \"name\"\
        : \"production\",\n  \"description\": \"profile for production environments\"\
        ,\n  \"lastAccessedAt\": \"2019-08-24T14:15:22Z\",\n  \"connectionPreferences\"\
        : {\n    \"sdkPollInterval\": 120,\n    \"webhookNotification\": {\n     \
        \ \"webhookProxyUrl\": \"https://my-proxy-url.com\",\n      \"signingKey1\"\
        : \"<generated-signing-key>\",\n      \"signingKey2\": null\n    }\n  },\n\
        \  \"sdkKeySelectionRules\": []\n}\n```"
      operationId: update-proxy-profile
      parameters:
      - description: The identifier of the Proxy Profile.
        explode: false
        in: path
        name: proxyProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              add SDK key selection rule:
                description: This example adds a selection rule to your proxy profile
                  that includes all current and future environments that has `Prod`
                  in its name.
                value:
                - op: add
                  path: /sdkKeySelectionRules/-
                  value:
                    environmentNameMatchFilter: '*Prod*'
              change the SDK poll interval:
                description: This example changes the SDK poll interval to 120 seconds.
                value:
                - op: replace
                  path: /connectionPreferences/sdkPollInterval
                  value: 120
              set webhook url:
                description: This example sets the Proxy webhook URL.
                value:
                - op: add
                  path: /connectionPreferences/webhookNotification
                  value:
                    webhookProxyUrl: https://my-proxy-url.com
              disconnect Proxy from receiving notifications:
                description: This example disconnects a Proxy from receiving notifications.
                value:
                - op: remove
                  path: /connectionPreferences/webhookNotification
            schema:
              items:
                $ref: "#/components/schemas/JsonPatchOperation"
              type: array
          text/json:
            examples:
              add SDK key selection rule:
                description: This example adds a selection rule to your proxy profile
                  that includes all current and future environments that has `Prod`
                  in its name.
                value:
                - op: add
                  path: /sdkKeySelectionRules/-
                  value:
                    environmentNameMatchFilter: '*Prod*'
              change the SDK poll interval:
                description: This example changes the SDK poll interval to 120 seconds.
                value:
                - op: replace
                  path: /connectionPreferences/sdkPollInterval
                  value: 120
              set webhook url:
                description: This example sets the Proxy webhook URL.
                value:
                - op: add
                  path: /connectionPreferences/webhookNotification
                  value:
                    webhookProxyUrl: https://my-proxy-url.com
              disconnect Proxy from receiving notifications:
                description: This example disconnects a Proxy from receiving notifications.
                value:
                - op: remove
                  path: /connectionPreferences/webhookNotification
            schema:
              items:
                $ref: "#/components/schemas/JsonPatchOperation"
              type: array
          application/*+json:
            examples:
              add SDK key selection rule:
                description: This example adds a selection rule to your proxy profile
                  that includes all current and future environments that has `Prod`
                  in its name.
                value:
                - op: add
                  path: /sdkKeySelectionRules/-
                  value:
                    environmentNameMatchFilter: '*Prod*'
              change the SDK poll interval:
                description: This example changes the SDK poll interval to 120 seconds.
                value:
                - op: replace
                  path: /connectionPreferences/sdkPollInterval
                  value: 120
              set webhook url:
                description: This example sets the Proxy webhook URL.
                value:
                - op: add
                  path: /connectionPreferences/webhookNotification
                  value:
                    webhookProxyUrl: https://my-proxy-url.com
              disconnect Proxy from receiving notifications:
                description: This example disconnects a Proxy from receiving notifications.
                value:
                - op: remove
                  path: /connectionPreferences/webhookNotification
            schema:
              items:
                $ref: "#/components/schemas/JsonPatchOperation"
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyProfileModel"
          description: When the update was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Proxy Profile
      tags:
      - Proxy Profiles
    put:
      description: |-
        This endpoint replaces a Proxy Profile identified by the `proxyProfileId` parameter.

        **Important:** As this endpoint is doing a complete replace, it's important to set every other attribute that you don't
        want to change in its original state. Not listing one means it will reset.
      operationId: replace-proxy-profile
      parameters:
      - description: The identifier of the Proxy Profile.
        explode: false
        in: path
        name: proxyProfileId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateProxyProfileRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateProxyProfileRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateProxyProfileRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyProfileModel"
          description: When the replace was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Replace Proxy Profile
      tags:
      - Proxy Profiles
  /v2/products/{productId}/change-requests:
    get:
      description: Returns Change Requests of a Product with optional filtering and
        pagination.
      operationId: get-change-requests
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Filter Change Requests by Config identifier.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Change Requests by Environment identifier.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Change Requests by Setting identifier.
        explode: true
        in: query
        name: settingId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Filter Change Requests by status values.
        explode: true
        in: query
        name: changeRequestStatusFilter
        required: false
        schema:
          items:
            $ref: "#/components/schemas/ChangeRequestStatus"
          type: array
        style: form
      - description: Filter Change Requests by schedule state.
        explode: true
        in: query
        name: scheduleFilter
        required: false
        schema:
          $ref: "#/components/schemas/ChangeRequestScheduleFilter"
        style: form
      - description: Filter Change Requests by approval requirement.
        explode: true
        in: query
        name: approveRequiredFilter
        required: false
        schema:
          $ref: "#/components/schemas/ChangeRequestApproveRequiredFilter"
        style: form
      - description: Filter Change Requests by whether they need attention.
        explode: true
        in: query
        name: needsAttentionFilter
        required: false
        schema:
          $ref: "#/components/schemas/NeedsAttentionFilter"
        style: form
      - description: "Page number (min: 1)."
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: "Page size (min: 1, max: 100)."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRequestsModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Change Requests
      tags:
      - Change Requests (Approval flow & Scheduled changes) - Beta
  /v1/organizations:
    get:
      description: This endpoint returns the list of the Organizations that belongs
        to the user.
      operationId: get-organizations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/OrganizationModel"
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Organizations
      tags:
      - Organizations
  /v1/products:
    get:
      description: This endpoint returns the list of the Products that belongs to
        the user.
      operationId: get-products
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductModel"
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Products
      tags:
      - Products
  /v1/organizations/{organizationId}/proxy-profiles:
    get:
      description: This endpoint returns the list of Proxy profiles for the given
        Organization identified by the `organizationId` parameter.
      operationId: get-proxy-profiles
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyProfileListModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Proxy Profiles
      tags:
      - Proxy Profiles
    post:
      description: |-
        This endpoint creates a new Proxy Profile in the given Organization
        identified by the `organizationId` parameter, which can be obtained from the [List Organizations](#operation/get-organizations) endpoint.
      operationId: create-proxy-profile
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateProxyProfileRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateProxyProfileRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateOrUpdateProxyProfileRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProxyProfileModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Proxy Profile
      tags:
      - Proxy Profiles
  /v1/products/{productId}/tags:
    get:
      description: "This endpoint returns the list of the Tags in a \nspecified Product,\
        \ identified by the `productId` parameter."
      operationId: get-tags
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TagModel"
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Tags
      tags:
      - Tags
    post:
      description: "This endpoint creates a new Tag in a specified Product \nidentified\
        \ by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products)\
        \ endpoint."
      operationId: create-tag
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTagModel"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateTagModel"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateTagModel"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Tag
      tags:
      - Tags
  /v1/products/{productId}/webhooks:
    get:
      description: |-
        This endpoint returns the list of the Webhooks that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-webhooks
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/WebhookResponseModel"
                type: array
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Webhooks
      tags:
      - Webhooks
  /v1/products/{productId}/configs:
    get:
      description: |-
        This endpoint returns the list of the Configs that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-configs
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ConfigModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Configs
      tags:
      - Configs
    post:
      description: "This endpoint creates a new Config in a specified Product \nidentified\
        \ by the `productId` parameter, which can be obtained from the [List Products](#operation/get-products)\
        \ endpoint."
      operationId: create-config
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateConfigRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateConfigRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Config
      tags:
      - Configs
  /v1/products/{productId}/environments:
    get:
      description: |-
        This endpoint returns the list of the Environments that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-environments
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/EnvironmentModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Environments
      tags:
      - Environments
    post:
      description: "This endpoint creates a new Environment in a specified Product\
        \ \nidentified by the `productId` parameter, which can be obtained from the\
        \ [List Products](#operation/get-products) endpoint."
      operationId: create-environment
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentModel"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentModel"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentModel"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Environment
      tags:
      - Environments
  /v1/products/{productId}/permissions:
    get:
      description: |-
        This endpoint returns the list of the Permission Groups that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-permission-groups
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PermissionGroupModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Permission Groups
      tags:
      - Permission Groups
    post:
      description: "This endpoint creates a new Permission Group in a specified Product\
        \ \nidentified by the `productId` parameter, which can be obtained from the\
        \ [List Products](#operation/get-products) endpoint."
      operationId: create-permission-group
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePermissionGroupRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CreatePermissionGroupRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreatePermissionGroupRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionGroupModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Permission Group
      tags:
      - Permission Groups
  /v1/products/{productId}/integrations:
    get:
      description: |-
        This endpoint returns the list of the Integrations that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-integrations
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationsModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Integrations
      tags:
      - Integrations
    post:
      description: "This endpoint creates a new Integration in a specified Product\
        \ \nidentified by the `productId` parameter, which can be obtained from the\
        \ [List Products](#operation/get-products) endpoint.\n\nThe Parameters dictionary\
        \ differs for each IntegrationType:\n- Datadog\n\t- `apikey`: Required. Datadog\
        \ API key.\n\t- `site`: Datadog site. Available values: `Us`, `Eu`, `Us1Fed`,\
        \ `Us3`, `Us5`. Default: `Us`.\n- Slack  \n\tConnecting the Slack integration\
        \ through the Public Management API will not post messages with the ConfigCat\
        \ Feature Flags Slack app but with an incoming webhook.\n\t- `incoming_webhook.url`:\
        \ Required. The [incoming webhook URL](https://api.slack.com/messaging/webhooks)\
        \ where the integration should post messages.\n    - `includeSensitiveData`:\
        \ Set to \"true\" to include [sensitive (hashed) comparison values](https://configcat.com/docs/targeting/targeting-rule/user-condition/#confidential-text-comparators).\
        \ By default, the integration will mask these values in the posted messages.\
        \ We recommend hiding sensitive comparison values for shared or public Slack\
        \ channels.\n- Amplitude\n\t- `apiKey`: Required. Amplitude API Key.\n\t-\
        \ `secretKey`: Required. Amplitude Secret Key.\n- Mixpanel\n\t- `serviceAccountUserName`:\
        \ Required. Mixpanel Service Account Username.\n\t- `serviceAccountSecret`:\
        \ Required. Mixpanel Service Account Secret.\n\t- `projectId`: Required. Mixpanel\
        \ Project ID.\n\t- `server`: Mixpanel Server. Available values: `StandardServer`,\
        \ `EUResidencyServer`. Default: `StandardServer`.\n- Twilio Segment\n\t- `writeKey`:\
        \ Required. Twilio Segment Write Key.\n\t- `server`: Twilio Segment Server.\
        \ Available values: `Us`, `Eu`. Default: `Us`.\n- PubNub (work in progress)"
      operationId: create-integration
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIntegrationModel"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateIntegrationModel"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateIntegrationModel"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Integration
      tags:
      - Integrations
  /v1/products/{productId}/segments:
    get:
      description: |-
        This endpoint returns the list of the Segments that belongs to the given Product identified by the
        `productId` parameter, which can be obtained from the [List Products](#operation/get-products) endpoint.
      operationId: get-segments
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SegmentListModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Segments
      tags:
      - Segments
    post:
      description: "This endpoint creates a new Segment in a specified Product \n\
        identified by the `productId` parameter, which can be obtained from the [List\
        \ Products](#operation/get-products) endpoint."
      operationId: create-segment
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSegmentModel"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateSegmentModel"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateSegmentModel"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Segment
      tags:
      - Segments
  /v1/configs/{configId}/settings:
    get:
      description: "This endpoint returns the list of the Feature Flags and Settings\
        \ defined in a \nspecified Config, identified by the `configId` parameter."
      operationId: get-settings
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SettingModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Flags
      tags:
      - Feature Flags & Settings
    post:
      description: |-
        This endpoint creates a new Feature Flag or Setting in a specified Config
        identified by the `configId` parameter.

        **Important:** The `key` attribute must be unique within the given Config.
      operationId: create-setting
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSettingInitialValues"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateSettingInitialValues"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateSettingInitialValues"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingModel"
          description: When the creation was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Create Flag
      tags:
      - Feature Flags & Settings
  /v1/products/{productId}/auditlogs:
    get:
      deprecated: true
      description: |-
        This endpoint returns the list of Audit log items for a given Product
        and the result can be optionally filtered by Config and/or Environment.

        If neither `fromUtcDateTime` nor `toUtcDateTime` is set, the audit logs for the **last 7 days** will be returned.

        The distance between `fromUtcDateTime` and `toUtcDateTime` cannot exceed **30 days**.

        **Important:** This endpoint is deprecated. Use the **List Audit log items for Product (V2)** endpoint instead. In the future, this endpoint will be redirected to the V2 version with default pagination parameters.
      operationId: get-auditlogs
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Config.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Environment.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Audit logs by Audit log type.
        explode: true
        in: query
        name: auditLogType
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/AuditLogType"
          nullable: true
        style: form
      - description: Filter Audit logs by starting UTC date.
        explode: true
        in: query
        name: fromUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter Audit logs by ending UTC date.
        explode: true
        in: query
        name: toUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuditLogItemModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Audit log items for Product
      tags:
      - Audit logs
  /v1/products/{productId}/staleflags:
    get:
      description: "This endpoint returns the list of Zombie (stale) flags for a given\
        \ Product \nand the result can be optionally filtered by various parameters."
      operationId: get-staleflags
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The scope of the report.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          $ref: "#/components/schemas/StaleFlagReminderScope"
        style: form
      - description: The inactivity in days after a feature flag should be considered
          stale.
        explode: true
        in: query
        name: staleFlagAgeDays
        required: false
        schema:
          format: int32
          maximum: 90
          minimum: 7
          type: integer
        style: form
      - description: Consider a feature flag as stale if the feature flag is stale
          in all/any of the environments.
        explode: true
        in: query
        name: staleFlagStaleInEnvironmentsType
        required: false
        schema:
          $ref: "#/components/schemas/StaleFlagStaleInEnvironmentsType"
        style: form
      - description: Ignore environment identifiers from the report.
        explode: true
        in: query
        name: ignoredEnvironmentIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: Ignore feature flags from the report based on their tag identifiers.
        explode: true
        in: query
        name: ignoredTagIds
        required: false
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaleFlagProductModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Zombie (stale) flags for Product
      tags:
      - Zombie (stale) flags
  /v2/products/{productId}/auditlogs:
    get:
      description: |-
        This endpoint returns the list of Audit log items for a given Product
        and the result can be optionally filtered by Config and/or Environment.
      operationId: get-auditlogs-v2
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Config.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Environment.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Audit logs by Audit log type.
        explode: true
        in: query
        name: auditLogType
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/AuditLogType"
          nullable: true
        style: form
      - description: Filter Audit logs by starting UTC date.
        explode: true
        in: query
        name: fromUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter Audit logs by ending UTC date.
        explode: true
        in: query
        name: toUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Page number (min: 1)."
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: "Page size (min: 1, max: 100)."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogItemModelPagedList"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Audit log items for Product (V2)
      tags:
      - Audit logs
  /v1/settings/{settingId}/code-references:
    get:
      description: ""
      parameters:
      - description: The identifier of the Feature Flag or Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CodeReferenceModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get References for Feature Flag or Setting
      tags:
      - Code References
  /v1/configs/{configId}:
    delete:
      description: This endpoint removes a Config identified by the `configId` parameter.
      operationId: delete-config
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Config
      tags:
      - Configs
    get:
      description: |-
        This endpoint returns the metadata of a Config
        identified by the `configId`.
      operationId: get-config
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigModel"
          description: "When everything is ok, the config data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Config
      tags:
      - Configs
    put:
      description: This endpoint updates a Config identified by the `configId` parameter.
      operationId: update-config
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateConfigRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Config
      tags:
      - Configs
  /v1/configs/{configId}/deleted-settings:
    get:
      description: This endpoint returns the list of Feature Flags and Settings that
        were deleted from the given Config.
      operationId: get-deleted-settings
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DeletedSettingModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Deleted Settings
      tags:
      - Audit logs
  /v1/environments/{environmentId}:
    delete:
      description: |-
        This endpoint removes an Environment identified by the `environmentId` parameter.
        If the `cleanupAuditLogs` flag is set to true, it also deletes the audit log records related to the environment
        (except for the `Created a new environment` and `Deleted an environment` records).
      operationId: delete-environment
      parameters:
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: An optional flag which indicates whether the audit log records
          related to the environment should be deleted or not.
        explode: true
        in: query
        name: cleanupAuditLogs
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Environment
      tags:
      - Environments
    get:
      description: "This endpoint returns the metadata of an Environment \nidentified\
        \ by the `environmentId`."
      operationId: get-environment
      parameters:
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentModel"
          description: "When everything is ok, the environment data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Environment
      tags:
      - Environments
    put:
      description: This endpoint updates an Environment identified by the `environmentId`
        parameter.
      operationId: update-environment
      parameters:
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvironmentModel"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateEnvironmentModel"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateEnvironmentModel"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Environment
      tags:
      - Environments
  /v1/permissions/{permissionGroupId}:
    delete:
      description: This endpoint removes a Permission Group identified by the `permissionGroupId`
        parameter.
      operationId: delete-permission-group
      parameters:
      - description: The identifier of the Permission Group.
        explode: false
        in: path
        name: permissionGroupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Permission Group
      tags:
      - Permission Groups
    get:
      description: "This endpoint returns the metadata of a Permission Group \nidentified\
        \ by the `permissionGroupId`."
      operationId: get-permission-group
      parameters:
      - description: The identifier of the Permission Group.
        explode: false
        in: path
        name: permissionGroupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionGroupModel"
          description: "When everything is ok, the permission group data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Permission Group
      tags:
      - Permission Groups
    put:
      description: This endpoint updates a Permission Group identified by the `permissionGroupId`
        parameter.
      operationId: update-permission-group
      parameters:
      - description: The identifier of the Permission Group.
        explode: false
        in: path
        name: permissionGroupId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePermissionGroupRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdatePermissionGroupRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdatePermissionGroupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionGroupModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Permission Group
      tags:
      - Permission Groups
  /v1/integrations/{integrationId}:
    delete:
      description: This endpoint removes a Integration identified by the `integrationId`
        parameter.
      operationId: delete-integration
      parameters:
      - description: The identifier of the Integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Integration
      tags:
      - Integrations
    get:
      description: |-
        This endpoint returns the metadata of an Integration
        identified by the `integrationId`.
      operationId: get-integration
      parameters:
      - description: The identifier of the Integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationModel"
          description: "When everything is ok, the integration data returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Integration
      tags:
      - Integrations
    put:
      description: "This endpoint updates a Config identified by the `integrationId`\
        \ parameter.\n\nThe Parameters dictionary differs for each IntegrationType:\n\
        - Datadog\n\t- `apikey`: Required. Datadog API key.\n\t- `site`: Datadog site.\
        \ Available values: `Us`, `Eu`, `Us1Fed`, `Us3`, `Us5`. Default: `Us`.\n-\
        \ Slack  \n\tConnecting the Slack integration through the Public Management\
        \ API will not post messages with the ConfigCat Feature Flags Slack app but\
        \ with an incoming webhook.\n\t- `incoming_webhook.url`: Required. The [incoming\
        \ webhook URL](https://api.slack.com/messaging/webhooks) where the integration\
        \ should post messages.\n\t- `includeSensitiveData`: Set to \"true\" to include\
        \ [sensitive (hashed) comparison values](https://configcat.com/docs/targeting/targeting-rule/user-condition/#confidential-text-comparators).\
        \ By default, the integration will mask these values in the posted messages.\
        \ We recommend hiding sensitive comparison values for shared or public Slack\
        \ channels.\n- Amplitude\n\t- `apiKey`: Required. Amplitude API Key.\n\t-\
        \ `secretKey`: Required. Amplitude Secret Key.\n- Mixpanel\n\t- `serviceAccountUserName`:\
        \ Required. Mixpanel Service Account Username.\n\t- `serviceAccountSecret`:\
        \ Required. Mixpanel Service Account Secret.\n\t- `projectId`: Required. Mixpanel\
        \ Project ID.\n\t- `server`: Mixpanel Server. Available values: `StandardServer`,\
        \ `EUResidencyServer`. Default: `StandardServer`.\n- Twilio Segment\n\t- `writeKey`:\
        \ Required. Twilio Segment Write Key.\n\t- `server`: Twilio Segment Server.\
        \ Available values: `Us`, `Eu`. Default: `Us`.\n- PubNub (work in progress)"
      operationId: update-integration
      parameters:
      - description: The identifier of the Integration.
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyIntegrationRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/ModifyIntegrationRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/ModifyIntegrationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Integration
      tags:
      - Integrations
  /v1/integrationLink/{integrationLinkType}/{key}/details:
    get:
      description: ""
      operationId: get-integration-link-details
      parameters:
      - description: The integration link's type.
        explode: false
        in: path
        name: integrationLinkType
        required: true
        schema:
          $ref: "#/components/schemas/IntegrationLinkType"
        style: simple
      - description: The key of the integration link.
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationLinkDetailsModel"
          description: "When everything is ok, the details for the integration link\
            \ returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Integration link
      tags:
      - Integration links
  /v1/configs/{configId}/environments/{environmentId}:
    get:
      description: This endpoint returns the SDK Key for your Config in a specified
        Environment.
      operationId: get-sdk-keys
      parameters:
      - description: The identifier of the Config.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Environment.
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SdkKeysModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get SDK Key
      tags:
      - SDK Keys
  /v1/me:
    get:
      description: ""
      operationId: get-me
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeModel"
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get authenticated user details
      tags:
      - Me
  /v1/organizations/{organizationId}/auditlogs:
    get:
      deprecated: true
      description: |-
        This endpoint returns the list of Audit log items for a given Organization
        and the result can be optionally filtered by Product and/or Config and/or Environment.

        If neither `fromUtcDateTime` nor `toUtcDateTime` is set, the audit logs for the **last 7 days** will be returned.

        The distance between `fromUtcDateTime` and `toUtcDateTime` cannot exceed **30 days**.

        **Important:** This endpoint is deprecated. Use the **List Audit log items for Organization (V2)** endpoint instead. In the future, this endpoint will be redirected to the V2 version with default pagination parameters.
      operationId: get-organization-auditlogs
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Product.
        explode: true
        in: query
        name: productId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Config.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Environment.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Audit logs by Audit log type.
        explode: true
        in: query
        name: auditLogType
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/AuditLogType"
          nullable: true
        style: form
      - description: Filter Audit logs by starting UTC date.
        explode: true
        in: query
        name: fromUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter Audit logs by ending UTC date.
        explode: true
        in: query
        name: toUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuditLogItemModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Audit log items for Organization
      tags:
      - Audit logs
  /v2/organizations/{organizationId}/auditlogs:
    get:
      description: |-
        This endpoint returns the list of Audit log items for a given Organization
        and the result can be optionally filtered by Product and/or Config and/or Environment.
      operationId: get-organization-auditlogs-v2
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The identifier of the Product.
        explode: true
        in: query
        name: productId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Config.
        explode: true
        in: query
        name: configId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The identifier of the Environment.
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter Audit logs by Audit log type.
        explode: true
        in: query
        name: auditLogType
        required: false
        schema:
          allOf:
          - $ref: "#/components/schemas/AuditLogType"
          nullable: true
        style: form
      - description: Filter Audit logs by starting UTC date.
        explode: true
        in: query
        name: fromUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter Audit logs by ending UTC date.
        explode: true
        in: query
        name: toUtcDateTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Page number (min: 1)."
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: "Page size (min: 1, max: 100)."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogItemModelPagedList"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Audit log items for Organization (V2)
      tags:
      - Audit logs
  /v1/organizations/{organizationId}/organization-limitations:
    get:
      description: This endpoint returns the limitations of an Organization identified
        by the `organizationId`.
      operationId: get-organization-limitations
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationLimitations"
          description: ""
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Organization limitations
      tags:
      - Organizations
  /v1/organizations/{organizationId}/members:
    get:
      deprecated: true
      description: "This endpoint returns the list of Members that belongs \nto the\
        \ given Organization, identified by the `organizationId` parameter.\n\nThe\
        \ results may vary based on the access level of the user who calls the endpoint:\
        \ \n- When it's called with Organization Admin privileges, the result will\
        \ contain each member in the Organization.\n- When it's called without Organization\
        \ Admin privileges, the result will contain each Organization Admin along\
        \ with members \n  of those products where the caller has `Team members and\
        \ permission groups` (`canManageMembers`) permission."
      operationId: get-organization-members
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/UserModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Organization Members
      tags:
      - Members
  /v2/organizations/{organizationId}/members:
    get:
      description: "This endpoint returns the list of Members that belongs \nto the\
        \ given Organization, identified by the `organizationId` parameter.\n\nThe\
        \ results may vary based on the access level of the user who calls the endpoint:\
        \ \n- When it's called with Organization Admin privileges, the result will\
        \ contain each member in the Organization.\n- When it's called without Organization\
        \ Admin privileges, the result will contain each Organization Admin along\
        \ with members \n  of those products where the caller has `Team members and\
        \ permission groups` (`canManageMembers`) permission."
      operationId: get-organization-members-v2
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMembersModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Organization Members
      tags:
      - Members
  /v1/organizations/{organizationId}/invitations:
    get:
      description: |-
        This endpoint returns the list of pending invitations within the
        given Organization identified by the `organizationId` parameter.
      operationId: get-pending-invitations-org
      parameters:
      - description: The identifier of the Organization.
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/OrganizationInvitationModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Pending Invitations in Organization
      tags:
      - Members
  /v1/products/{productId}/invitations:
    get:
      description: |-
        This endpoint returns the list of pending invitations within the
        given Product identified by the `productId` parameter.
      operationId: get-pending-invitations
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/InvitationModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Pending Invitations in Product
      tags:
      - Members
  /v1/settings/{settingId}/predefined-variations:
    get:
      description: This endpoint returns the predefined variations along with their
        usages in the Environments for a Feature Flag or Setting identified by the
        `settingId` parameter.
      operationId: get-predefined-variations
      parameters:
      - description: The identifier of the Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PredefinedVariationsWithUsagesModel"
          description: When the update was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get predefined variations
      tags:
      - Feature Flags & Settings
    put:
      description: |-
        This endpoint updates the predefined variations for a Feature Flag or Setting identified by the `settingId` parameter.

        **Important:** You can only update a predefined variation's value if it is not used anywhere in your feature flags.
      operationId: update-predefined-variations
      parameters:
      - description: The identifier of the Setting.
        explode: false
        in: path
        name: settingId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePredefinedVariationsRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdatePredefinedVariationsRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdatePredefinedVariationsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PredefinedVariationsModel"
          description: When the update was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update predefined variations
      tags:
      - Feature Flags & Settings
  /v1/products/{productId}:
    delete:
      description: This endpoint removes a Product identified by the `productId` parameter.
      operationId: delete-product
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: When the delete was successful.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Delete Product
      tags:
      - Products
    get:
      description: "This endpoint returns the metadata of a Product \nidentified by\
        \ the `productId`."
      operationId: get-product
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductModel"
          description: "When everything is ok, the product data is returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Product
      tags:
      - Products
    put:
      description: This endpoint updates a Product identified by the `productId` parameter.
      operationId: update-product
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateProductRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductModel"
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Update Product
      tags:
      - Products
  /v1/products/{productId}/members:
    get:
      description: "This endpoint returns the list of Members that belongs \nto the\
        \ given Product, identified by the `productId` parameter."
      operationId: get-product-members
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/MemberModel"
                type: array
          description: ""
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: List Product Members
      tags:
      - Members
  /v1/products/{productId}/preferences:
    get:
      description: "This endpoint returns the preferences of a Product \nidentified\
        \ by the `productId`."
      operationId: get-product-preferences
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreferencesModel"
          description: "When everything is ok, the product preferences data is returned."
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "429":
          description: Too many requests. In case of the request rate exceeds the
            rate limits.
      summary: Get Product Preferences
      tags:
      - Products
    post:
      description: This endpoint updates the preferences of a Product identified by
        the `productId` parameter.
      operationId: update-product-preferences
      parameters:
      - description: The identifier of the Product.
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePreferencesRequest"
          text/json:
            schema:
[...]
